/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sidebar-nav a,
.nav-link {
    text-decoration: none !important; /* Remove underline */
    color: inherit; /* Keep text color */
}

    .sidebar-nav a:hover,
    .nav-link:hover {
        text-decoration: none !important; /* Ensure no underline on hover */
    }

