@{
    Layout = "~/Views/Shared/_Layout_Patient.cshtml";
}

<div class="page-wrapper">

    <section class="page-header" style="background-image: url(../Content/template/assets/images/inner-page-banner/Second-Opinion.jpg);">
        <div class="container">
            <ul class="list-unstyled page-breadcrumb">
                <li><a href="index"><i class="fa fa-home"></i></a></li>
                <li>More </li>
                <li><span> About </span></li>
                <li><span> About Us </span></li>
            </ul>
            <!-- /.list-unstyled -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.page-header -->

    <section class="sec_pad">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="block-title text-center">
                        <h1>About Us</h1>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="about-one__image"> <img src="~/Content/template/assets/images/best_multispeciality_hospital_in_ahmedabad.png" alt="Best Multispeciality Hospital in Ahmedabad" title="Best Multispeciality Hospital in Ahmedabad"> </div>
                    <!-- /.about-one__image -->
                </div>
                <!-- /.col-lg-6 -->

                <div class="col-xl-6 d-flex">
                    <div class="my-auto">
                        <div class="about-one__content">
                            <!-- /.block-title -->
                            <p>LiveDoc Hospital is a multi/super speciality hospital located at the prime location of Vaishnodevi Circle, SG Road, Ahmedabad; with state-of-the-art facilities & treatments at an affordable cost, encompassing wide spectrum of accurate diagnostics and elegant therapeutics created on the philosophical edifice of patient and ethical centricity ensuring humanistic dispensation.</p>
                            <p>Under the aegis of Shri Harihar Maharaj Charitable Trust,  LiveDoc Hospital is spread over a massive 6 acre campus providing 300+ beds and catering for nearly 45 super-specialties, all under one roof. A multispeciality approach enables each speciality to have the comfort of collaborating on complex cases thereby ensuring a comprehensive assessment/ treatment of the patient. Patients are provided with multiple options for treatment, the most suitable of which are arrived at through a collaborative case assessment approach that decides the best course of treatment for the best outcomes.</p>
                            <p>LiveDoc Hospital is incorporated by SHRI HARIHAR MAHARAJ CHARITABLE TRUST. </p>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /.about-one__content -->
                    </div>
                    <!-- /.my-auto -->
                </div>
            </div>
        </div>
    </section>

    <section class="faq-two sec_pad dark_div">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-12 text-justify">
                    <p>LiveDoc Hospital is proud to have some of the most eminent and experienced doctors of the world who are authorities in their respective fields of specialisation. We have the top 10 surgeons in India who are well experienced in performing all types of critical surgeries. </p>
                    <p>With a group of committed staff and versatile cohort of doctors, each and every member of LiveDoc Hospital is focussed to ensure the ‘Well-being’ of the patients, which is assured by extension of Available, Accessible, Affordable, Safe, Efficacious, Professional and Ethical comprehensive healthcare through state-of-the-art facilities.</p>
                    <p>Our surgical team comprising of the top 10 surgeons in India is specialized in general surgery,neurosurgery, bariatric surgery, urosurgery, cardiothoracic surgery, joint replacement surgery, paediatric surgery, spine surgery, gynaecology and obstetric surgery, plastic and reconstructive surgery to name a few.</p>
                    <p>Our exclusive health check up packages, Visa health check up services,critical care and emergency care team which is available 24x7, high-tech laboratory, state-of-the-art radiology department, modular OTs, advanced CATH lab, and the top 10 surgeons in India are our greatest assets. Apart from this we have an exclusive dialysis unit, sleep laboratory, LASIK removal of spectacles with refractive surgery using the Carl Zeiss Mel 90 excimer laser, lithotripsy unit, two endoscopy suites, and a dedicated stroke centre.</p>
                </div>
                <div class="faq-two__image wow fadeInRight overview_img" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInRight;"> <img src="~/Content/template/assets/images/overview_2.png" alt="Best Multispeciality Hospital in Ahmedabad" title="Best Multispeciality Hospital in Ahmedabad"> </div>
            </div>
        </div>
    </section>
    <section class="sec_pad">
        <div class="container">
            <div class="col-xl-12 d-flex">
                <div class="col-xl-6">
                    <div class="about-one__image"> <img src="~/Content/template/assets/images/overview_3.png" alt="Best Multispeciality Hospital in Ahmedabad" title="Best Multispeciality Hospital in Ahmedabad"> </div>
                </div>
                <div class="col-xl-6 d-flex">
                    <div class="my-auto">
                        <div class="about-one__content">
                            <div class="block-title text-left"> </div>
                            <!-- /.block-title -->
                            <p>All types of gastroenterologic investigations and gastrointestinal surgeries can be carried out at our multi-speciality centre. We are fully equipped for dealing with all kinds of emergencies, be it surgical, cardiac, neurological, traumatic, respiratory, infectious, environmental, or toxicological. Other USPs of our hospital are fully equipped cardiology department, ultramodern IVF centre, pain management centre, exclusive NICU and PICU. Access to physiotheraphy, dental, occupational health, and smoking cessation services is also available.</p>
                            <p>All healthcare facilities can be accessed here under one roof, making LiveDoc Hospital a one point contact for all your healthcare needs. Our team of top 10 surgeons in India is ever ready for ensuring ‘well being’ as a humane commitment to enliven humanity. We provide transparent services at an affordable prices so that everyone can get access to the tservices. By providing correct and timely diagnosis, treatment, and care facilities and creating awareness for imbibing a healthy lifestyle, we aim to fulfil our vision. </p>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /.about-one__content -->
                    </div>
                    <!-- /.my-auto -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.container -->
    </section>
</div>