@{
    Layout = "~/Views/Shared/_Layout_Patient.cshtml";
}

<div class="page-wrapper">

    <section class="page-header" style="background-image: url(../Content/template/assets/images/inner-page-banner/Cornea-Transplant.jpg);">
        <div class="container">
            <ul class="list-unstyled page-breadcrumb">
                <li><a href="index"><i class="fa fa-home"></i></a></li>
                <li>Specialities </li>
                <li><span> Transplant Services </span></li>
                <li><span> Cornea Transplant </span></li>
            </ul>
            <!-- /.list-unstyled -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.page-header -->

    <section class="event-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="event-details__sidebar">
                        <div class="event-details__sidebar-single event-details__sidebar-dark-bg">
                            <h3>Contact <span class="dark-title">Info</span></h3>
                            <ul class="event-details__sidebar-list list-unstyled">
                                <li>
                                    <i class="fa fa-check-circle"></i> <i class="far fa-phone"></i>
                                    <h4>OPERATOR</h4>
                                    <p><a href="tel:+91 79 6677 0000">+91 79 6677 0000</a></p>
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i> <i class="far fa-phone"></i>
                                    <h4>EMERGENCY</h4>
                                    <p><a href="tel:  +91 79 6677 0001"> +91 79 6677 0001</a></p>
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i> <i class="far fa-phone"></i>
                                    <h4>AMBULANCE</h4>
                                    <p><a href="tel:  +91 79 6677 0002"> +91 79 6677 0002</a></p>
                                </li>
                            </ul>
                            <!-- /.event-details__sidebar-list list-unstyled -->
                        </div>
                        <!-- /.event-details__sidebar-single -->
                    </div>
                    <!-- /.event-details__sidebar -->

                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-8">
                    <div class="event-details__main">
                        <div class="block-title">
                            <h1> Cornea Transplant</h1>
                        </div>
                        <div class="transplant-services donation-one">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="donation-one__single">
                                        <div class="donation-one__image"> <img src="~/Content/template/assets/images/lung-transplant.jpg" alt="" title="Organ Donation"> <a href="lung-transplant"><i class="fal fa-link"></i></a> </div>
                                        <div class="donation-one__content">
                                            <h3><a href="lung-transplant">Lung <br>Transplant</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="donation-one__single">
                                        <div class="donation-one__image"> <img src="~/Content/template/assets/images/Organ-Donation.jpg" alt="" title="Organ Donation"> <a href="heart-transplant"><i class="fal fa-link"></i></a> </div>
                                        <div class="donation-one__content">
                                            <h3>
                                                <a href="heart-transplant">
                                                    Heart <br>Transplant
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <div class="donation-one__single">
                                        <div class="donation-one__image"> <img src="~/Content/template/assets/images/Renal-Transplant.jpg" alt="" title="Renal Transplant"> <a href="renal-transplant"><i class="fal fa-link"></i></a> </div>
                                        <div class="donation-one__content">
                                            <h3>
                                                <a href="renal-transplant">
                                                    Kidney <br>
                                                    Transplant
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="donation-one__single">
                                        <div class="donation-one__image"> <img src="~/Content/template/assets/images/Liver-Transplant.jpg" alt="" title="Liver Transplant"> <a href="liver-transplant"><i class="fal fa-link"></i></a> </div>
                                        <div class="donation-one__content">
                                            <h3>
                                                <a href="liver-transplant">
                                                    Liver <br>
                                                    Transplant
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-3 col-md-6 mt-20">
                                    <div class="donation-one__single">
                                        <div class="donation-one__image"> <img src="~/Content/template/assets/images/Cornea-Transplant.jpg" alt="" title="Cornea Transplant"> <a href="cornea-transplant"><i class="fal fa-link"></i></a> </div>
                                        <div class="donation-one__content">
                                            <h3>
                                                <a href="cornea-transplant">
                                                    Cornea <br>
                                                    Transplant
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <h4 class="transplant-services-title">Cornea Transplant </h4>
                        <p>
                            Cornea transplant surgery, also known as keratoplasty, is a surgical procedure of replacing unhealthy or non-functioning cornea with the healthy cornea. During this surgery, the surgeon replaced the defective cornea with the
                            healthy cornea received from a deceased donor. Cornea transplant surgery improves the vision and hence the quality of life.
                        </p>
                        <p>
                            The cornea is the most frontal part of the eye structure, aiding in the protection of the eyes against dirt, bacteria, other microbes and UV light. The cornea in association with the lens aids in focusing the light in a way
                            to improve the clarity of the vision.
                        </p>
                        <p>
                            There are many indications to undergo cornea transplant surgery, the most common reason being blurry vision or loss of vision due to underlying condition. Those underlying conditions could include keratoconus, Fuch's dystrophy,
                            keratitis caused by microbes, corneal infections, injury to the eyes, previously done surgeries, ulcerations/tearing/scarring of the cornea, dystrophy, bullous keratopathy etc.
                        </p>
                        <p>
                            Any individual with visual impairment is required to have a consultation from the ophthalmologist if he/she would be a candidate for a cornea transplant. In the event that the cornea cannot be fixed utilizing different strategies,
                            the ophthalmologist may suggest cornea transplantation. Cornea transplant surgery eliminates the injured endothelial tissue with healthy corneal tissue from the donor. In contrast to the other keratoplasty surgeries, this
                            procedure involves little or no stitching.
                        </p>
                        <p>
                            KD Hospital is a well-recognized centre for eye transplant that has given the gift of sight to many patients through cornea transplants. With an expert ophthalmologists' team and world-class diagnostic and surgical equipment
                            on hand, you can expect smooth flow with respect to the entire process. Additionally, the renal transplant coordinator is available at KD Hospital for counselling the patient and family members related to the eye transplant,
                            eye donation and how the entire process works. Best infection control practices in hands allow KD Hospital to become one of the best cornea transplant centres in Ahmedabad.
                        </p>
                        <p>A successful cornea transplant allows the individual to recover their eyesight in a few weeks. A corneal transplant gives an option to live an improved quality of life without compromising on vision. </p>
                    </div>
                    <!-- /.event-details__main -->
                </div>
                <!-- /.col-lg-8 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.event-details -->

