@{
    Layout = "~/Views/Shared/_Layout_Patient.cshtml";
}

<div class="page-wrapper">

    <section class="page-header" style="background-image: url(../Content/template/assets/images/inner-page-banner/doctor_in_ahmedabad.jpg);">
        <div class="container">
            <ul class="list-unstyled page-breadcrumb">
                <li><a href="index"><i class="fa fa-home"></i></a></li>
                <li>Specialities </li>
                <li><span> Our Doctors </span></li>
            </ul>
            <!-- /.list-unstyled -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.page-header -->

    <section class="event-details miracles-care pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="block-title text-center">
                        <h1>Our Doctors</h1>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="event-details__main">
                        <div class="doctor-element"> <i class="fa fa-stethoscope"></i> </div>
                        <style>
                            .doctors-details-page .blog-one__content {
                                padding-left: 0;
                                padding-right: 0
                            }

                            .doctors-details-page .blog-one__cat {
                                font-size: 15px;
                                top: -22px;
                                padding: 5px 10px;
                                background: linear-gradient(to right, #ed3437, #f89c32);
                                left: 0;
                                right: 0;
                                display: table;
                                margin: 0 auto;
                                text-align: center;
                                width: fit-content;
                            }

                            .doctors-details-page .blog-one__image {
                                border-radius: 10px
                            }

                            .doctors-details-page .event-details__image > img,
                            .event-details__main img {
                                border-radius: 0
                            }

                            .doctors-details-page .blog-one__content .col-md-7.mb-15 {
                                line-height: 23px
                            }

                            .doctors-details-page .blog-one__image > a {
                                width: auto;
                                height: auto;
                                border-radius: 50%;
                                background-color: transparent;
                                display: block;
                                align-items: center;
                                justify-content: center;
                                color: #ed3437;
                                font-size: 18px;
                                position: absolute;
                                top: calc(50% - 32.5px);
                                left: 0;
                                opacity: 0;
                                transform: none;
                               
                                right: 0;
                                text-align: center;
                                margin: 0 auto;
                            }

                            .doctors-details-page .blog-one__image a {
                                color: #fff
                            }
                        </style>
                        <div class="composer layout_fullwidth_padding doctors-details-page">
                            <div class="tta-container" data-vc-action="collapseAll">
                                <div class="general tta tta-accordion tta-style-classic tta-o-shape-group tta-controls-align-left tta-o-all-clickable">
                                    <div class="tta-panels-container">
                                        <div class="tta-panels">
                                            <div class="tta-panel" id="a1" data-vc-content=".tta-panel-body">
                                                <div class="tta-panel-heading">
                                                    <h4 class="tta-panel-title tta-controls-icon-position-right"><a href="#a1" data-vc-accordion="" data-vc-container=".tta-container"><img src="~/Content/template/assets/images/icons/Anaesthesiology.png" width="30"><span class="tta-title-text"> Anaesthesiology </span><i class="tta-controls-icon tta-controls-icon-plus"></i></a></h4>
                                                </div>
                                                <div class="tta-panel-body" style="">
                                                    <div class="wpb_text_column wpb_content_element">
                                                        <div class="row">
                                                            <div class="col-lg-4 col-md-6">
                                                                <div class="blog-one__single">
                                                                    <div class="blog-one__image">
                                                                        <img src="~/Content/template/assets/images/doctors/dr_vinay_solanki.jpg" alt="Best Kidney Doctor in Ahmedabad" title="Dr. Vinay Solanki" class="doctor_img">
                                                                        <!--<a>

                                                                                        <strong> Specialization:</strong> <br>
                                                                        Anaesthesiology
                                                                                            </a>-->
                                                                    </div>
                                                                    <!-- /.blog-one__image -->
                                                                    <div class="blog-one__content pb-0">
                                                                        <a class="blog-one__cat">Dr. Vinay Solanki</a>
                                                                        <div class="row">
                                                                            <div class="col-md-5 mb-15"> <strong> Qualifications:</strong> </div>
                                                                            <div class="col-md-7 mb-15">MD, PDCC, EDAIC</div>
                                                                            <div class="col-md-5 mb-15"> <strong> Specialization:</strong> </div>
                                                                            <div class="col-md-7 mb-15"> Anaesthesiology </div>
                                                                            <a class="thm-btn contact-one__btn dr-more-profile" href="dr-vinay-solanki">View Profile</a>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /.blog-one__content -->
                                                                </div>
                                                                <!-- /.blog-one__single -->
                                                            </div>
  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tta-panel" id="a2" data-vc-content=".tta-panel-body">
                                                <div class="tta-panel-heading">
                                                    <h4 class="tta-panel-title tta-controls-icon-position-right"><a href="#a2" data-vc-accordion="" data-vc-container=".tta-container"><img src="~/Content/template/assets/images/icons/Bariatric-Surgery.png" width="30"><span class="tta-title-text">Bariatric Surgery</span><i class="tta-controls-icon tta-controls-icon-plus"></i></a></h4>
                                                </div>
                                                <div class="tta-panel-body" style="">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="row">
                                                            <div class="col-lg-4 col-md-6">
                                                                <div class="blog-one__single">
                                                                    <div class="blog-one__image"> <img src="~/Content/template/assets/images/doctors/dr_manish_khaitan.jpg" alt="Best Kidney Doctor in Ahmedabad" title="Dr. Manish Khaitan" class="doctor_img"> </div>
                                                                    <!-- /.blog-one__image -->
                                                                    <div class="blog-one__content pb-0">
                                                                        <a class="blog-one__cat">Dr. Manish Khaitan</a>
                                                                        <div class="row">
                                                                            <div class="col-md-5 mb-15"> <strong> Qualifications:</strong> </div>
                                                                            <div class="col-md-7 mb-15"> MS, FIAGES </div>
                                                                            <div class="col-md-5 mb-15"> <strong> Specialization:</strong> </div>
                                                                            <div class="col-md-7 mb-15"> Bariatric & GI Surgery </div>
                                                                            <a class="thm-btn contact-one__btn dr-more-profile" href="dr-manish-khaitan">View Profile</a>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /.blog-one__content -->
                                                                </div>
                                                                <!-- /.blog-one__single -->
                                                            </div>                                                         
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tta-panel" id="a4" data-vc-content=".tta-panel-body">
                                                <div class="tta-panel-heading">
                                                    <h4 class="tta-panel-title tta-controls-icon-position-right"><a href="#a4" data-vc-accordion="" data-vc-container=".tta-container"><img src="~/Content/template/assets/images/icons/Breast-Clinic.png" width="30"><span class="tta-title-text">Breast Clinic </span><i class="tta-controls-icon tta-controls-icon-plus"></i></a></h4>
                                                </div>
                                                <div class="tta-panel-body" style="">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="row">
                                                            <div class="col-lg-4 col-md-6">
                                                                <div class="blog-one__single">
                                                                    <div class="blog-one__image"> <img src="~/Content/template/assets/images/doctors/dr_shefali_desai.jpg" alt="Best Kidney Doctor in Ahmedabad" title="Dr. Shefali Desai" class="doctor_img"> </div>
                                                                    <!-- /.blog-one__image -->
                                                                    <div class="blog-one__content pb-0">
                                                                        <a class="blog-one__cat">Dr. Shefali Desai</a>
                                                                        <div class="row">
                                                                            <div class="col-md-5 mb-15"> <strong> Qualifications:</strong> </div>
                                                                            <div class="col-md-7 mb-15">MS, FAOGU </div>
                                                                            <div class="col-md-5 mb-15"> <strong> Specialization:</strong> </div>
                                                                            <div class="col-md-7 mb-15"> General Surgery & Breast Surgery </div>
                                                                            <a class="thm-btn contact-one__btn dr-more-profile" href="dr-shefali-desai">View Profile</a>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /.blog-one__content -->
                                                                </div>
                                                                <!-- /.blog-one__single -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tta-panel" id="a5" data-vc-content=".tta-panel-body">
                                                <div class="tta-panel-heading">
                                                    <h4 class="tta-panel-title tta-controls-icon-position-right"><a href="#a5" data-vc-accordion="" data-vc-container=".tta-container"><img src="~/Content/template/assets/images/icons/Cardiac-Surgery.png" width="30"><span class="tta-title-text">Cardiology </span><i class="tta-controls-icon tta-controls-icon-plus"></i></a></h4>
                                                </div>
                                                <div class="tta-panel-body" style="">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="row">
                                                            <div class="col-lg-4 col-md-6">
                                                                <div class="blog-one__single">
                                                                    <div class="blog-one__image"> <img src="~/Content/template/assets/images/doctors/cardiologist-in-ahmedabad-kd-hospital.jpg" alt="Neurologist Hospital in Ahmedabad" title="Dr. Jayesh R. Rawal" class="doctor_img"> </div>
                                                                    <!-- /.blog-one__image -->
                                                                    <div class="blog-one__content pb-0">
                                                                        <a class="blog-one__cat">Dr. Jayesh R. Rawal</a>
                                                                        <div class="row">
                                                                            <div class="col-md-5 mb-15"> <strong> Qualifications:</strong> </div>
                                                                            <div class="col-md-7 mb-15">MD, DM, FACC </div>
                                                                            <div class="col-md-12 mb-15">
                                                                                <strong> Specialization:</strong> Interventional Cardiology, Peripheral and Coronary Angiography, Angioplasty, Stenting, Valvuloplasty, Permanent Pacemaker Implantation, Complex
                                                                                Echocardiography
                                                                            </div>
                                                                            <a class="thm-btn contact-one__btn dr-more-profile" href="#">View Profile</a>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /.blog-one__content -->
                                                                </div>
                                                                <!-- /.blog-one__single -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.event-details__main -->
                    </div>
                    <!-- /.col-lg-8 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </section>

    <!-- /.event-details -->

    <!-- template scripts -->
    <script src="~/Content/template/assets/js/jquery.min.js"></script>
    <script src="~/Content/template/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/template/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/template//js/bootstrap-select.min.js"></script>
    <script src="~/Content/template/assets/js/isotope.js"></script>
    <script src="~/Content/template/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.circleType.js"></script>
    <script src="~/Content/template/assets/js/waypoints.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.counterup.min.js"></script>
    <script src=~/Content/template/assets/js/jquery.lettering.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/template/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/template/assets/js/TweenMax.min.js"></script>
    <script src="~/Content/template/assets/js/wow.min.js"></script>
    <script src="~/Content/template/assets/js/theme.js"></script>
    <script src="~/Content/template/assets/js/accordion.js"></script>
    <script src="~/Content/template/assets/js/sticky-contact-box.js"></script>
    <!--<script src="assets/js/mobile.js"></script>-->
    <script>
        new WOW().init();
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-772875026"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'AW-772875026');
    </script>
    <script>
        gtag('event', 'page_view', {
            'send_to': 'AW-772875026',
            'user_id': 'replace with value'
        });
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HF6PKWGCCL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-HF6PKWGCCL');
    </script>
    </body>

    </html>
