
@{
    Layout = "~/Views/Shared/_Layout_Patient.cshtml";
}

<div class="page-wrapper">

    <section class="page-header" style="background-image: url(../Content/template/assets/images/inner-page-banner/Home-Healthcare.jpg);">
        <div class="container">

            <ul class="list-unstyled page-breadcrumb">
                <li><a href="index"><i class="fa fa-home"></i></a></li>
                <li>Medical Specialities </li>
                <li><span> Home Healthcare </span></li>
            </ul>
            <!-- /.list-unstyled -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.page-header -->

    <section class="sec_pad">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="block-title text-center">
                        <h1>Home <span class="dark-title">Healthcare</span></h1>
                    </div>
                </div>

                <div class="col-xl-12">

                    <div class="home-healthcare-details">
                        <h4>
                            Pharmacy Home Delivery <a class="button_box" href="tel:+91 9825 703335">Order Now +91 9825 703335</a>
                        </h4>
                        <p>
                            Livedoc Hospital believes that delivery of medicines at your doorstep is a healthcare essential, that makes your life easier while bringing these benefits to you within the comfort of your home.
                        </p>

                        <h6>
                            <strong>Now you can get your prescription medicines conveniently delivered right at your doorstep.</strong>

                        </h6>

                        <ul class="blog-details__list list-unstyled">

                            <li>
                                <i class="fa fa-check-circle"></i>You can call anytime between 8:00 AM to 8:00 PM to place your order.
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>It is mandatory to share the doctor’s prescription (via Email/WhatsApp) for non-OTC medicines while placing the order.
                            </li>
                            <li><i class="fa fa-check-circle"></i>Home delivery will be done for orders above INR 500/-

                        </ul>

                        <h4>
                            Home Sample Collection <a class="button_box" href="tel:+91 63596 03535">Book Now +91 63596 03535</a>
                        </h4>
                        <p>
                            <a href="https://kdhospital.co.in/"> At Livedoc, </a> apart from the in-house state-of-the-art laboratory, we bring Home Sample Collection for you and your family through our Home Healthcare service. We appreciate
                            the importance of health tests and understand the need for making diagnostic services user-friendly. You can avoid spending hours in long queues at the diagnostic lab and defer stepping out for diagnostic tests.

                        </p>
                        <ul class="blog-details__list list-unstyled">

                            <li>
                                <i class="fa fa-check-circle"></i>Feel free to call anytime between 8:00 AM to 8:00 PM to book your appointment for home sample collection one day prior.
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i> You need to share the doctor’s prescription via Email or WhatsApp or select from our health check-up packages on the website.
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i> On receiving your call, our trained phlebotomist’s arrive at your doorstep, at your convenient time, to collect samples the next day, with all necessary safety measures.
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i> The reports will be dispatched via email on your registered email id.


                            </li>

                        </ul>

                    </div>
                </div>

                <div class="col-xl-12">

                    <div class="health-package-section health-package-innerpage-section">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="slider-two__carousel-single">

                                    <div class="slider-two__carousel-content">
                                        <img src="~/Content/template/assets/images/Healthpackages/01.png" alt="" title="Kd Swasthya 1">
                                        <h3>LD Swasthya 1 <span class="orange-font">@*<i class="fa fa-indian-rupee"></i>*@ ₹ 750/- </span></h3>
                                        <ul class="list_package">
                                            <li><i class="fa fa-angle-right"></i> CBC </li>
                                            <li><i class="fa fa-angle-right"></i> Blood Group & RH </li>
                                            <li><i class="fa fa-angle-right"></i> Urine (Routine & Micro) </li>
                                        </ul>
                                        <a href="Livedoc_swasthya_1" class="button outline-button">Read More</a>
                                    </div>
                                    <!-- /.slider-two__carousel-content -->
                                </div>
                                <!-- /.slider-two__carousel-single -->
                            </div>
                            <!-- /.item -->

                            <div class="col-md-4">
                                <div class="slider-two__carousel-single">

                                    <div class="slider-two__carousel-content">
                                        <img src="~/Content/template/assets/images/Healthpackages/02.png" alt="" title="Kd Swasthya 2">
                                        <h3>LD Swasthya 2 <span class="orange-font">@*<i class="fa fa-rupee-sign"></i>*@  ₹ 1,100/- </span></h3>
                                        <ul class="list_package">
                                            <li>
                                                <i class="fa fa-angle-right"></i> S.Creatinine
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i> Blood Group
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i> Urine RM
                                            </li>
                                        </ul>
                                        <a href="Livedoc_swasthya_2" class="button outline-button">Read More</a>
                                    </div>
                                    <!-- /.slider-two__carousel-content -->
                                </div>
                                <!-- /.slider-two__carousel-single -->
                            </div>
                            <div class="col-md-4">
                                <div class="slider-two__carousel-single">

                                    <div class="slider-two__carousel-content">
                                        <img src="
                                             ~/Content/template/assets/images/Healthpackages/03.png" alt="" title="Kd Swasthya 3">
                                        <h3>LD Swasthya 3 <span class="orange-font">@*<i class="fa fa-rupee-sign"></i>*@ ₹ 2,100/- </span></h3>
                                        <ul class="list_package">
                                            <li><i class="fa fa-angle-right"></i> RBS </li>
                                            <li><i class="fa fa-angle-right"></i> ESR </li>
                                            <li><i class="fa fa-angle-right"></i> HBA1C </li>
                                        </ul>
                                        <a href="Livedoc_swasthya_3" class="button outline-button">Read More</a>
                                    </div>
                                    <!-- /.slider-two__carousel-content -->
                                </div>
                                <!-- /.slider-two__carousel-single -->
                            </div>
                            <div class="col-md-4">
                                <div class="slider-two__carousel-single">

                                    <div class="slider-two__carousel-content">
                                        <img src="~/Content/template/assets/images/Healthpackages/05.png" alt="" title="LD Niramaya 1">
                                        <h3>LD Niramaya 1 <span class="orange-font">@*<i class="fa fa-rupee-sign"></i>*@ ₹ 3,400/- </span></h3>
                                        <ul class="list_package">
                                            <li><i class="fa fa-angle-right"></i> CBC </li>
                                            <li><i class="fa fa-angle-right"></i> Blood Group </li>
                                            <li><i class="fa fa-angle-right"></i> Urine RM </li>
                                        </ul>
                                        <a href="LiveDoc_Niramaya_1" class="button outline-button">Read More</a>
                                    </div>
                                    <!-- /.slider-two__carousel-content -->
                                </div>
                                <!-- /.slider-two__carousel-single -->
                            </div>
                            <div class="col-md-4">
                                <div class="slider-two__carousel-single">

                                    <div class="slider-two__carousel-content">
                                        <img src="~/Content/template/assets/images/Healthpackages/06.png" alt="" title="LD Niramaya 2">
                                        <h3>LD Niramaya 2 <span class="orange-font">@*<i class="fa fa-rupee-sign"></i>*@ ₹ 4,300/- </span></h3>
                                        <ul class="list_package">
                                            <li>
                                                <i class="fa fa-angle-right"></i> Vitamin B12
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i> Vitamin D3
                                            </li>
                                            <li><i class="fa fa-angle-right"></i> CBC </li>
                                        </ul>
                                        <a href="LiveDoc_Niramaya_2" class="button outline-button">Read More</a>
                                    </div>
                                    <!-- /.slider-two__carousel-content -->
                                </div>
                                <!-- /.slider-two__carousel-single -->
                            </div>
                            <div class="col-md-4">
                                <div class="slider-two__carousel-single">

                                    <div class="slider-two__carousel-content">
                                        <img src="~/Content/template/assets/images/Healthpackages/04.png" alt="" title="LD Niramaya 3">
                                        <h3>LD Niramaya 3 <span class="orange-font">@*<i class="fa fa-rupee-sign"></i>*@ ₹ 6,800/- </span></h3>
                                        <ul class="list_package">
                                            <li>
                                                <i class="fa fa-angle-right"></i> S.Homocystenine
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i> Apolipoprotein A
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i> Apolipoprotein B
                                            </li>
                                        </ul>
                                        <a href="LiveDoc_Niramaya_3" class="button outline-button">Read More</a>
                                    </div>
                                    <!-- /.slider-two__carousel-content -->
                                </div>
                                <!-- /.slider-two__carousel-single -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>







