@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout_Patient.cshtml";
}

<div class="page-wrapper">


    <div class="page-wrapper">

        <div class="slider-four__wrapper home-slider-new">
            <div class="slider-four">
                <div class="slider-four__carousel thm__owl-dot-1 owl-carousel owl-theme thm__owl-carousel" data-carousel-prev-btn=".slider-four__nav-right" data-carousel-next-btn=".slider-four__nav-left" data-options='{"loop": true, "items": 1, "margin": 0, "dots": false, "nav": false, "animateOut": &quot;slideOutDown&quot;, "animateIn": &quot;fadeIn&quot;, "active": true, "smartSpeed": 2000, "autoplay": false, "autoplayTimeout": 7000, "autoplayHoverPause": false}'>
                    <div class="item slider-four__slide-1" style="background-image: url(../Content/template/assets/images/main-slider/transplant-centre-of-ahmedabad.jpg);">
                        <div class="container">
                            <div class="slider-four__content text-center">
                                <h3 class="anim-elm">Transplant Centre<br> of Gujarat</h3>
                                <p class="anim-elm banner-sub">Heart • Lung • Liver • Kidney • Cornea</p>
                            </div>
                            <!-- /.slider-four__content text-center -->
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- /.item -->
                    <div class="item slider-four__slide-1" style="background-image: url(../Content/template/assets/images/main-slider/neuro-intervention.jpg);">
                        <div class="container">
                            <div class="slider-four__content text-center">
                                <h3 class="anim-elm">Neuro-intervention</h3>
                            </div>
                            <!-- /.slider-four__content text-center -->
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- /.item -->
                    <div class="item slider-four__slide-1" style="background-image: url(../Content/template/assets/images/main-slider/bariatric-surgery.jpg);">
                        <div class="container">
                            <div class="slider-four__content text-center">
                                <h3 class="anim-elm">Bariatric Surgery</h3>
                            </div>
                            <!-- /.slider-four__content text-center -->
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- /.item -->
                    <div class="item slider-four__slide-1" style="background-image: url(../Content/template/assets/images/main-slider/urology-and-uro-surgery.jpg);">
                        <div class="container">
                            <div class="slider-four__content text-center">
                                <h3 class="anim-elm">Urology and Uro-surgery</h3>
                            </div>
                            <!-- /.slider-four__content text-center -->
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- /.item -->

                </div>
                <!-- /.slider-four__carousel -->
                <div class="slider-four__nav">
                    <a href="#" class="slider-four__nav-left"><i class="fa fa-angle-left"></i></a>
                    <!-- /.slider-four__nav-left -->
                    <a href="#" class="slider-four__nav-right"><i class="fa fa-angle-right"></i></a>
                    <!-- /.slider-four__nav-right -->
                </div>
                <!-- /.slider-four__nav -->
            </div>
            <!-- /.slider-four -->
        </div>
        <!-- /.slider-four__wrapper -->
        <section class="service-one service-one__about-one speci-icons" id="speciality">
            <style>
            </style>
            <div class="container-fluid">
                <div class="block-title text-center">
                    <h3>Medical <span class="dark-title">Specialities</span></h3>
                </div>
                <!-- /.block-title -->
                <div class="service-one__carousel owl-carousel thm__owl-carousel owl-theme" data-options='{
                    "items": 5, "nav": true, "dots": false, "margin": 10, "loop": true, "smartSpeed": 700, "autoplay": true, "autoplayTimeout": 5000, "autoplayHoverPause": true, "responsive": {
                        "0": {"items": 1, "margin": 0, "dots": false, "nav": true },
                        "767": {"items": 1, "margin": 0, "dots": false, "nav": true },
                        "768": {"items": 3, "margin": 30},
                        "1199": {"items": 5}
                    }
                }'>
                    <div class="item">
                        <div class="service-one__single">
                            <a href="#">
                                <div class="service-one__image">
                                    <img src="~/Content/template/assets/images/specialities-icon/Cardiology.png" alt="Best Multispeciality Hospital in Ahmedabad" title="Cardiology">
                                    <p>01</p>
                                </div>
                                <!-- /.service-one__image -->
                                <div class="service-one__content">
                                    <h3>Cardiology</h3>
                                </div>
                                <!-- /.service-one__content -->
                            </a>
                        </div>
                        <!-- /.service-one__single -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="item">
                        <div class="service-one__single">
                            <a href="#">
                                <div class="service-one__image">
                                    <img src="~/Content/template/assets/images/specialities-icon/Emergency-Care-CCU-&-ICU.png" alt="Best Multispeciality Hospital in Ahmedabad" title="Emergency Care CCU & ICU">
                                    <p>02</p>
                                </div>
                                <!-- /.service-one__image -->
                                <div class="service-one__content">
                                    <h3>Emergency Care, CCU, & ICU </h3>
                                </div>
                                <!-- /.service-one__content -->
                            </a>
                        </div>
                        <!-- /.service-one__single -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="item">
                        <div class="service-one__single">
                            <a href="#">
                                <div class="service-one__image">
                                    <img src="~/Content/template/assets/images/specialities-icon/Gastrosurgery.png" alt="Best Super Speciality Hospital in Ahmedabad" title="Gastrosurgery">
                                    <p>03</p>
                                </div>
                                <!-- /.service-one__image -->
                                <div class="service-one__content">
                                    <h3>Gastrosurgery</h3>
                                </div>
                                <!-- /.service-one__content -->
                            </a>
                        </div>
                        <!-- /.service-one__single -->
                    </div>
                    <!-- /.col-lg-4 -->

                    <div class="item">
                        <div class="service-one__single">
                            <a href="#">
                                <div class="service-one__image">
                                    <img src="~/Content/template/assets/images/specialities-icon/Health-Checkup-Packages.png" alt="Best Super Speciality Hospital in Ahmedabad" title="Health Checkup Packages">
                                    <p>04</p>
                                </div>
                                <!-- /.service-one__image -->
                                <div class="service-one__content">
                                    <h3>Health Checkup Packages </h3>
                                </div>
                                <!-- /.service-one__content -->
                            </a>
                        </div>
                        <!-- /.service-one__single -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="item">
                        <div class="service-one__single">
                            <a href="#">
                                <div class="service-one__image">
                                    <img src="~/Content/template/assets/images/specialities-icon/Internal-Medicine.png" alt="Best Multispeciality Hospital in Ahmedabad" title="Internal Medicine">
                                    <p>05</p>
                                </div>
                                <!-- /.service-one__image -->
                                <div class="service-one__content">
                                    <h3> Internal Medicine</h3>
                                </div>
                                <!-- /.service-one__content -->
                            </a>
                        </div>
                    </div>


                    <div class="item">
                        <div class="service-one__single">
                            <a href="#">
                                <div class="service-one__image">
                                    <img src="~/Content/template/assets/images/specialities-icon/Immigrants-Visa-Health-Checkup.png" alt="Best Multispeciality Hospital in Ahmedabad" title="Immigrants Visa Health Checkup">
                                    <p>07</p>
                                </div>
                                <!-- /.service-one__image -->
                                <div class="service-one__content">
                                    <h3>Immigrants Visa Health Checkup</h3>
                                </div>
                                <!-- /.service-one__content -->
                            </a>
                        </div>
                        <!-- /.service-one__single -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="item">
                        <div class="service-one__single">
                            <a href="#">
                                <div class="service-one__image">
                                    <img src="~/Content/template/assets/images/specialities-icon/Nephrology-&-Dialysis-Centre.png" alt="Best Super Speciality Hospital in Ahmedabad" title="Nephrology & Dialysis Centre">
                                    <p>08</p>
                                </div>
                                <!-- /.service-one__image -->
                                <div class="service-one__content">
                                    <h3>Nephrology & Dialysis Centre</h3>
                                </div>
                                <!-- /.service-one__content -->
                            </a>
                        </div>
                        <!-- /.service-one__single -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="item">
                        <div class="service-one__single">
                            <a href="#">
                                <div class="service-one__image">
                                    <img src="~/Content/template/assets/images/specialities-icon/Neurosurgery.png" alt="Best Super Speciality Hospital in Ahmedabad" title="Neurosurgery">
                                    <p>09</p>
                                </div>
                                <!-- /.service-one__image -->
                                <div class="service-one__content">
                                    <h3>Neurosurgery</h3>
                                </div>
                                <!-- /.service-one__content -->
                            </a>
                        </div>
                        <!-- /.service-one__single -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="item">
                        <div class="service-one__single">
                            <a href="#">
                                <div class="service-one__image">
                                    <img src="~/Content/template/assets/images/specialities-icon/Neurology.png" alt="Best Multispeciality Hospital in Ahmedabad" title="Neurology">
                                    <p>10</p>
                                </div>
                                <!-- /.service-one__image -->
                                <div class="service-one__content">
                                    <h3>Neurology</h3>
                                </div>
                                <!-- /.service-one__content -->
                            </a>
                        </div>
                        <!-- /.service-one__single -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="item">
                        <div class="service-one__single">
                            <a href="#">
                                <div class="service-one__image">
                                    <img src="~/Content/template/assets/images/specialities-icon/Ophthalmology.png" alt="Best Multispeciality Hospital in Ahmedabad" title="Ophthalmology">
                                    <p>11</p>
                                </div>
                                <!-- /.service-one__image -->
                                <div class="service-one__content">
                                    <h3>Ophthalmology</h3>
                                </div>
                                <!-- /.service-one__content -->
                            </a>
                        </div>
                        <!-- /.service-one__single -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="item">
                        <div class="service-one__single">
                            <a href="#">
                                <div class="service-one__image">
                                    <img src="~/Content/template/assets/images/specialities-icon/Orthopaedic.png" alt="Best Hospitals in Ahmedabad" title="Orthopaedic">
                                    <p>12</p>
                                </div>
                                <!-- /.service-one__image -->
                                <div class="service-one__content">
                                    <h3>Orthopaedic & Joint Replacement </h3>
                                </div>
                                <!-- /.service-one__content -->
                            </a>
                        </div>
                        <!-- /.service-one__single -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="item">
                        <div class="service-one__single">
                            <a href="#">
                                <div class="service-one__image">
                                    <img src="~/Content/template/assets/images/specialities-icon/Paediatrics.png" alt="Best Hospitals in Ahmedabad" title="Paediatrics">
                                    <p>13</p>
                                </div>
                                <!-- /.service-one__image -->
                                <div class="service-one__content">
                                    <h3> Neonatology & Paediatrics </h3>
                                </div>
                                <!-- /.service-one__content -->
                            </a>
                        </div>
                        <!-- /.service-one__single -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="item">
                        <div class="service-one__single">
                            <a href="#">
                                <div class="service-one__image">
                                    <img src="~/Content/template/assets/images/specialities-icon/Sleep-Clinic.png" alt="Best Hospitals in Ahmedabad" title="Sleep Clinic">
                                    <p>14</p>
                                </div>
                                <!-- /.service-one__image -->
                                <div class="service-one__content">
                                    <h3>Sleep Clinic </h3>
                                </div>
                                <!-- /.service-one__content -->
                            </a>
                        </div>
                        <!-- /.service-one__single -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="item">
                        <div class="service-one__single">
                            <a href="#">
                                <div class="service-one__image">
                                    <img src="~/Content/template/assets/images/specialities-icon/Urology.png" alt="Best Hospitals in Ahmedabad" title="Urology">
                                    <p>15</p>
                                </div>
                                <!-- /.service-one__image -->
                                <div class="service-one__content">
                                    <h3>Urology </h3>
                                </div>
                                <!-- /.service-one__content -->
                            </a>
                        </div>
                        <!-- /.service-one__single -->
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
                <!-- /.service-one__carousel -->
            </div>
            <!-- /.container -->

        </section>
        <section class="team-one ">
            <div class="container">
                <div class="row high-gutter">
                    <div class="col-lg-3 col-md-6 wow fadeInLeft" data-wow-duration="1500ms">
                        <a href="our-specialities">
                            <div class="team-one__single">
                                <div class="team-one__image"> <img src="~/Content/template/assets/images/our_speciality.png" alt=""> </div>
                                <!-- /.team-one__image -->
                                <div class="team-one__content">
                                    <div class="team-one__content-inner">
                                        <h3>Our Speciality</h3>
                                    </div>
                                    <!-- /.team-one__content-inner -->
                                </div>
                                <!-- /.team-one__content -->
                            </div>
                            <!-- /.team-one__single -->
                        </a>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1500ms">
                        <a href="health-package">
                            <div class="team-one__single">
                                <div class="team-one__image"> <img src="~/Content/template/assets/images/Health_Packages.png" alt=""> </div>
                                <!-- /.team-one__image -->
                                <div class="team-one__content">
                                    <div class="team-one__content-inner">
                                        <h3>Health Packages</h3>
                                    </div>
                                    <!-- /.team-one__content-inner -->
                                </div>
                                <!-- /.team-one__content -->
                            </div>
                            <!-- /.team-one__single -->
                        </a>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1500ms">
                        <a href="miracles-of-care">
                            <div class="team-one__single">
                                <div class="team-one__image"> <img src="~/Content/template/assets/images/Patient_Speaks.png" alt=""> </div>
                                <!-- /.team-one__image -->
                                <div class="team-one__content">
                                    <div class="team-one__content-inner">
                                        <h3>Miracles of Care</h3>
                                    </div>
                                    <!-- /.team-one__content-inner -->
                                </div>
                                <!-- /.team-one__content -->
                            </div>
                            <!-- /.team-one__single -->
                        </a>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-3 col-md-6 wow fadeInRight" data-wow-duration="1500ms">
                        <a href="success-stories">
                            <div class="team-one__single">
                                <div class="team-one__image"> <img src="~/Content/template/assets/images/Success_Stories.png" alt=""> </div>
                                <!-- /.team-one__image -->
                                <div class="team-one__content">
                                    <div class="team-one__content-inner">
                                        <h3>Success Stories</h3>
                                    </div>
                                    <!-- /.team-one__content-inner -->
                                </div>
                                <!-- /.team-one__content -->
                            </div>
                            <!-- /.team-one__single -->
                        </a>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <section class="event-two Our-Specialities">
            <div class="container">
                <div class="block-title text-center">
                    <h3><span class="dark-title">Transplant Services</span></h3>
                </div>
                <div class="row no-gutters">
                    <div class="col-xl-6 col-md-6">
                        <div class="event-two__single">
                            <div class="event-two__image"> <img src="~/Content/template/assets/images/lung-transplant.png" alt="" title=""> </div>
                            <div class="event-two__content d-flex">
                                <div class="my-auto">
                                    <h3>
                                        <a href="lung_transplant">Lung Transplant</a><br>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="event-two__single">
                            <div class="event-two__image"> <img src="~/Content/template/assets/images/Organ-Donation.png" alt="" title=""> </div>
                            <div class="event-two__content d-flex">
                                <div class="my-auto">
                                    <h3> <a href="heart-transplant">Heart Transplant</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="event-two__single">
                            <div class="event-two__image"> <img src="~/Content/template/assets/images/Renal-Transplant.png" alt="" title=""> </div>
                            <div class="event-two__content d-flex">
                                <div class="my-auto">
                                    <h3><a href="renal-transplant">Kidney Transplant</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /.col-lg-6 -->
                    <div class="col-xl-6 col-md-6">
                        <div class="event-two__single">
                            <div class="event-two__image"> <img src="~/Content/template/assets/images/Liver-Transplant.png" alt="" title=""> </div>
                            <div class="event-two__content d-flex">
                                <div class="my-auto">
                                    <h3><a href="liver-transplant">Liver Transplant</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-1 col-md-1"></div>
                    <div class="col-xl-1 col-md-1"></div>
                    <div class="col-xl-1 col-md-1"></div>
                    <div class="col-xl-6 col-md-6">
                        <div class="event-two__single">
                            <div class="event-two__image"> <img src="~/Content/template/assets/images/Cornea-Transplant.png" alt="" title=""> </div>
                            <div class="event-two__content d-flex">
                                <div class="my-auto">
                                    <h3><a href="cornea-transplant">Cornea Transplant</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="cta-one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="funfact-two__single">
                            <i class="fa fa-ambulance" /></i>
                            <!-- /.counter -->
                            <p>Emergency Service</p>
                        </div>
                        <!-- /.funfact-two__single -->
                    </div>

                    <!-- /.col-lg-3 col-md-6 -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="funfact-two__single">
                            <i class="fa fa-clock" /></i>
                            <!-- /.counter -->
                            <p>Available 24/7</p>
                        </div>
                        <!-- /.funfact-two__single -->
                    </div>

                    <!-- /.col-lg-3 col-md-6 -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="funfact-two__single">
                            <i class="fa fa-certificate" /></i>
                            <!-- /.counter -->
                            <p>Licenced & Insured</p>
                        </div>
                        <!-- /.funfact-two__single -->
                    </div>

                    <!-- /.col-lg-3 col-md-6 -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <a href="bmw.html">
                            <div class="funfact-two__single">
                                <i class="ser-01" style="background: url(../Content/template/assets/images/bio_waste.png); background-size: 100% auto;"></i>
                                <p class="bio-medical-data">Bio Medical Waste Management Data</p>
                            </div>
                            <!-- /.funfact-two__single -->
                        </a>
                    </div>


                    <!-- /.col-lg-3 col-md-6 -->
                </div>
                <!-- /.row -->
            </div>
        </section>
        <section class="about-one">
            <img src="~/Content/template/assets/images/shapes/living-option-dot-1-1.png" class="video-faq__block-dot" alt="Best Super Speciality Hospital in Ahmedabad" title="living option dot">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 wow fadeInLeft" data-wow-duration="1500ms">
                        <div class="about-one__image">
                            <a href="#" target="_blank"> <img src="~/Content/template/assets/images/about-kd.png" style="left: 50px;position:relative"> </a>

                        </div>

                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-xl-6 d-flex wow fadeInRight" data-wow-duration="1500ms">
                        <div class="my-auto">
                            <div class="about-one__content">
                                <div class="block-title text-left">
                                    <h1 class="new-title-home">LiveDoc Hospital - <span class="dark-title">Multispeciality Hospital</span> in Ahmedabad</h1>
                                </div>
                                <!-- /.block-title -->
                                <p>
                                    LIVEDOC Hospital is a multi/super speciality hospital located at the prime location of Vaishnodevi Circle, SG Road, Ahmedabad; with state-of-the-art facilities & treatments at
                                    an affordable cost, encompassing wide spectrum of accurate diagnostics and elegant therapeutics created on the philosophical edifice of patient and ethical centricity ensuring humanistic dispensation.
                                </p>
                                <p>
                                    Under the aegis of Shri Harihar Maharaj Charitable Trust, LIVEDOC Hospital is spread over a massive 6 acre campus providing <strong>300+ beds</strong> and catering for nearly <strong>45 super-specialties</strong>, all under
                                    one roof. A multispeciality approach enables each speciality to have the comfort of collaborating on complex cases thereby ensuring a comprehensive assessment/ treatment of the patient. Patients are provided with
                                    multiple options for treatment, the most suitable of which are arrived at through a collaborative case assessment approach that decides the best course of treatment for the best outcomes.
                                </p>
                            </div>
                            <!-- /.about-one__content -->
                        </div>
                        <!-- /.my-auto -->

                    </div>
                    <!-- /.col-lg-6 -->

                    <div class="col-xl-0 margin-auto">

                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

        <!-- /.about-one -->
        <!-- /.about-one -->
        <section class="about-one">
            <img src="~/Content/template/assets/images/shapes/living-option-dot-1-1.png" class="video-faq__block-dot" alt="Best Super Speciality Hospital in Ahmedabad" title="living option dot">
            <div class="container">
                <div class="block-title text-center">
                    <p></p>
                    <h3>What Defines Livedoc Hospital ?</h3>
                </div>
                <div class="row">

                    <!-- /.col-lg-6 -->
                    <div class="col-xl-6 d-flex wow fadeInRight" data-wow-duration="1500ms">
                        <div class="my-auto">
                            <div class="about-one__content">
                                <p>
                                    At Livedoc Hospital, we believe in providing the best medical facilities and surgical treatments with a team of expert consultants, experienced surgeons and veteran clinicians along with a well-trained and caring medical
                                    staff at your disposal and committed to your humane well-being.
                                </p>
                                <p>
                                    Livedoc Hospital is proud to have team of leading specialists in our arsenal who equipped with state of the art medical technology are capable of making your treatment journey as smooth and stress-free as possible in addition
                                    to our care-giving nursing staff which makes us your preferred one-point healthcare destination.
                                </p>
                                <p>
                                    Our Values of Excellence, Ethics & Ensuring Well-Being pervade all aspects of medical treatment from CCU, ICU trauma emergency services as well as in-patient super-specialities like general surgery, neurosurgery, bariatric
                                    surgery, urosurgery, cardiothoracic surgery, joint replacement surgery, paediatric surgery, spine surgery, gynaecology and obstetric surgery, plastic and reconstructive surgery to name a few.
                                </p>
                                <p>
                                    The Livedoc Family is committed to serving your medical health needs with the Best in class hospital treatment available in Ahmedabad,Gujarat. What makes us listed as the top ranked and yet economical
                                    hospital is our patient centric approach to ethical treatment and holistic well being.
                                </p>
                                <p>
                                    Livedoc Hospital has also been awarded as "The Best Multispecialty Hospital in Gujarat" ( Brands Impact Awards 2022)
                                </p>
                            </div>
                            <!-- /.about-one__content -->
                        </div>
                        <!-- /.my-auto -->

                    </div>
                    <div class="col-xl-6 wow fadeInLeft" data-wow-duration="1500ms">
                        <div class="about-one__image">
                            <img src="~/Content/template/assets/images/Building.png" style="left: 50px;position:relative">
                            <!-- /.about-one__image-content -->
                        </div>
                        <!-- /.about-one__image -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

        <section class="service-one service-one__service-page box_block">
            <div class="container">
                <div class="block-title text-center mb-50">
                    <h3>Why Prefer <span class="dark-title">Livedoc Hospital ?</span></h3>
                </div>
                <!-- /.block-title -->
                <div class="row high-gutter">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-one__single mb-0">

                            <div class="service-one__content">
                                <div class="service-one__icon">
                                    <img src="~/Content/template/assets/images/icons/staff.png" alt="" title="Mission">
                                </div>

                                <p>Transparent services<br> &amp; Friendly Staff.</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="service-one__single mb-0">

                            <div class="service-one__content">
                                <div class="service-one__icon">
                                    <img src="~/Content/template/assets/images/icons/check-up.png" alt="" title="Vision">
                                </div>

                                <p>
                                    Affordable prices &amp; Variety health check-up packages

                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-one__single mb-0">

                            <div class="service-one__content">
                                <div class="service-one__icon">
                                    <img src="~/Content/template/assets/images/icons/facilities.png" alt="" title="Core Values">
                                </div>


                                <p>
                                    Timely diagnosis - treatment, and care facilities

                                </p>


                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

        <!-- /.about-one -->

        <section class="cta-two-section" style="background-image: url(../Content/template/assets/images/Calculator.png);">
            <div class="container text-center">
                <div class="row  wow fadeInUp" data-wow-duration="1500ms">
                    <h3>Take a second opinion from<br> the leading specialist</h3>
                    <a href="second_opinion" class="thm-btn cta-one__btn">Book Now</a>
                </div>
            </div>
            <!-- /.container -->
        </section>
        <section class="appointment-one">
            <img src="~/Content/template/assets/images/book_an_appoinment.png" class="appointment-one__map-1" alt="Best Super Speciality Hospital in Ahmedabad" title="appointment map 1"> <img src="~/Content/template/assets/images/shapes/book_an_appoinment.png" class="appointment-one__map-2"
                                                                                                                                                                                                alt="Best Super Speciality Hospital in Ahmedabad" title="appointment map 2"> <img src="~/Content/template/assets/images/best_hospitals_in_ahmedabad.png" class="appointment-one__moc  wow fadeInUp" data-wow-duration="4500ms" alt="Best Super Speciality Hospital in Ahmedabad"
                                                                                                                                                                                                                                                                                  title="Feedback">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-6">
                        <div class="block-title text-left">
                            <h3>Share your <span class="dark-title">Comments</span></h3>
                        </div>
                        <!-- /.block-title -->

                        <form class="contact-one__form sky-form" id="Share_Comments" action="thankyou.php" method="post" autocomplete="off">
                            <div class="row">
                                <div class="col-md-6">
                                    <i class="fa fa-user icon-prepend"></i>
                                    <input type="text" id="name" name="name" maxlength="255" placeholder="Name*" />
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <i class="fa fa-envelope icon-prepend"></i>
                                    <input type="text" id="email" name="email" maxlength="255" placeholder="Email ID*" />
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-12">
                                    <i class="fa fa-mobile-alt icon-prepend"></i>
                                    <input type="text" name="contact_no" onkeypress="contact_num_valid(event)" id="contact_no" minlength="10" maxlength="15" placeholder="Contact No.*" />
                                </div>
                                <!-- /.col-md-6 -->

                                <div class="col-md-12">
                                    <i class="fa fa-edit icon-prepend"></i>
                                    <textarea id="message" name="message" class="message" placeholder="Message"></textarea>
                                </div>
                                <!-- /.col-md-12 -->
                                <div class="col-md-12 text-left">
                                    <p id="error_data"></p>
                                    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response">
                                    <button class="thm-btn contact-one__btn" type="submit" name="Share_Comments">Submit</button>
                                    <input type="hidden" value="Share_Comments" name="type_of_form" />
                                    <i class="fa fa-sync" id="form_process"></i>

                                    <!-- /.thm-btn contact-one__btn -->
                                </div>
                                <!-- /.col-md-12 -->
                            </div>
                            <!-- /.row -->
                        </form>
                        <div class="result"></div>
                        <!-- /.result -->

                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
