
<!DOCTYPE html>

<html lang="en">
<head>
    <title>Quality Healthcare for Women in Ahmedabad | LiveDoc Hospital</title>



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="KD Hospital's Niramaya offers quality healthcare services for women, including gynecology, obstetrics, infertility treatment, and more. Trust us for your healthcare needs." />
    <meta name="keyword" Content="KD Hospital, Multi Super Speciality Hospital in Ahmedabad , Health Check Up Packages in Ahmedabad,  Retina Doctor in Ahmedabad , Nursing Education in Ahmedabad , Stroke Unit in Ahmedabad" />
    <meta name="robots" Content="index,follow" />
    <meta name="contact" Content="+91 79 6677 0000" />
    <meta name="distribution" Content="Global" />
    <meta name="rating" content="General" />
    <!--<meta name="revisit-after" content="1 days" />-->
    <meta name="geo.placename" content="Ahmedabad , India" />
    <meta name="geo.placename" content="Gujarat , India" />
    <meta name="author" content="KD Hospital, contact@kdhospital.co.in" />

    <meta name="og:title" content="Quality Healthcare for Women in Ahmedabad | KD Hospital" />

    <meta name="og:description" content="KD Hospital's Niramaya offers quality healthcare services for women, including gynecology, obstetrics, infertility treatment, and more. Trust us for your healthcare needs." />
    <meta name="og:email" content="contact@kdhospital.co.in" />
    <meta name="og:phone_number" content="+91 79 6677 0000" />

    <meta name="og:url" content="https://kdhospital.co.in/" />

    <link rel="canonical" href="https://kdhospital.co.in/kd-niramaya-1" />

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Start FONT LINK -->
    <link href="~/Content/template/fontawesome-free-6.7.2-web/css/all.css" rel="stylesheet" />
    <link href="~/Content/template/fontawesome-free-6.7.2-web/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/template/fontawesome-free-6.7.2-web/css/brands.css" rel="stylesheet" />
    <link href="~/Content/template/fontawesome-free-6.7.2-web/css/brands.min.css" rel="stylesheet" />
    <link href="~/Content/template/fontawesome-free-6.7.2-web/css/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/template/fontawesome-free-6.7.2-web/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/template/fontawesome-free-6.7.2-web/css/regular.css" rel="stylesheet" />
    <link href="~/Content/template/fontawesome-free-6.7.2-web/css/regular.min.css" rel="stylesheet" />
    <link href="~/Content/template/fontawesome-free-6.7.2-web/css/solid.css" rel="stylesheet" />
    <link href="~/Content/template/fontawesome-free-6.7.2-web/css/solid.min.css" rel="stylesheet" />
    <link href="~/Content/template/fontawesome-free-6.7.2-web/css/svg-with-js.css" rel="stylesheet" />
    <link href="~/Content/template/fontawesome-free-6.7.2-web/css/svg-with-js.min.css" rel="stylesheet" />
    <link href="~/Content/template/fontawesome-free-6.7.2-web/css/v4-font-face.css" rel="stylesheet" />
    <link href="~/Content/template/fontawesome-free-6.7.2-web/css/v4-font-face.min.css" rel="stylesheet" />
    <link href="~/Content/template/fontawesome-free-6.7.2-web/css/v4-shims.css" rel="stylesheet" />
    <link href="~/Content/template/fontawesome-free-6.7.2-web/css/v4-shims.min.css" rel="stylesheet" />
    <link href="~/Content/template/fontawesome-free-6.7.2-web/css/v5-font-face.css" rel="stylesheet" />
    <link href="~/Content/template/fontawesome-free-6.7.2-web/css/v5-font-face.min.css" rel="stylesheet" />
    <!-- End FONT LINK -->
    <!-- plugins styles -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Baloo+2:400,500,600,700,800%7CLato:100,300,400,700,900%7COpen+Sans:300,400,600,700,800%7CRoboto:300,400,500,700,900%7CRubik:300,400,500,700,900&amp;display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/template/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/animate.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/hover-min.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/swiper.min.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/icons.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/testimonial.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/style.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/responsive.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/new-responsive.css">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MGPDDCF');</script>
    <!-- End Google Tag Manager -->

    <meta name="facebook-domain-verification" content="ytjhlmp3l3eawjdp4seo1d3omiqyi6" />
</head>

<body>
    <div class="btm_div"><a onclick="if(window.innerWidth>769){popUp=window.open('https://web.whatsapp.com/send?phone=+9163596036283&amp;text=Hi,%20I%20contacted%20you%20Through%20your%20Website', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();}else{popUp=window.open('whatsapp://send?phone=+916359603628&amp;text=Hi,%20I%20contacted%20you%20Through%20your%20Website', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();}" target="_blank"><img src="assets/images/whatsapp.png"></a> </div>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MGPDDCF"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="preloader">

    </div><!-- /.preloader -->


    <div class="page-wrapper">
        <section class="topbar-one topbar-one__inner-page">
            <div class="container">
                <div class="topbar-one__left">
                    <a href="tel:+91 79 66770000"><i class="fa fa-phone"></i>Appointment: +91 79 6677 0000</a>
                    <a href="tel:+91 7966770077" class="top-imigration-num"><i class="fa fa-phone"></i>Immigration: +91 79667 70077</a>
                    <a href="tel:+91 9979153196"> +91 99791 53196 </a>
                    <a href="https://kd.doctor9.com/default.htm" target="_blank"><i class="fa fa-list-alt"></i> Book an Appointment</a>
                    <a href="http://111.93.87.226/OnlineLabReports/" target="_blank"><i class="fa fa-list-alt"></i> Patient Billing</a>
                    <a href="virtual-tour" target="_blank" style="border-right: none;padding-right: 0;"><img src="~/Content/template/assets/images/weight_loss_surgery_in_ahmedabad.png" alt="Best Hospitals in Ahmedabad" title="Best Hospitals in Ahmedabad"></a>
                    <a href="download" style="border-left: 1px solid rgba(255, 255, 255, .2);padding-left: 20px;"><i class="fa fa-download"></i></a>
                    <a href="immigrants-visa-health-checkup" class="blink">Immigrants Visa Health checkup</a>
                </div><!-- /.topbar-one__left -->
            </div><!-- /.container -->
        </section><!-- /.topbar-one -->  <nav class="main-nav-one main-nav-one__inner-page stricky inner-page-menu original">
            <div class="container">
                <div class="inner-container">
                    <div class="logo">
                        <a href="index" class=""> <img src="~/Content/template/assets/images/kd-logo.webp" class="main-nav-one__main-logo" alt="Best Super Speciality Hospital in Ahmedabad" title="Best Super Speciality Hospital in Ahmedabad"> <img src="~/Content/template/assets/images/kd-logo.webp" width="219" class="main-nav-one__mobile-logo" alt="Best Super Speciality Hospital in Ahmedabad" title="Best Super Speciality Hospital in Ahmedabad"> </a>
                        <span class="side-menu__toggler"><i class="fa fa-bars"></i></span>
                    </div>
                    <!-- /.logo-box -->
                    <!--          <div class="nabh-logo"><img src="assets/images/nabh-logo/nabh_logo.webp" class="nabh_sticky_logo" alt="Best Hospitals in Ahmedabad" title="Best Hospitals in Ahmedabad"></div>-->
                    <div class="main-nav__main-navigation">
                        <ul class="main-nav__navigation-box">
                            <li class="dropdown mega-menu">
                                <a href="#">Specialities </a>
                                <ul class="medical_spec">
                                    <div class="col-md-12 p0">
                                        <div class="row m0">
                                            <div class="col-lg-3 pr15">
                                                <div class="box-brder">
                                    <li><a href="anaesthesiology">Anaesthesiology</a></li>
                                    <li><a href="bariatric-surgery">Bariatric Surgery</a></li>
                                    <li><a href="https://kdblossom.co.in/breast_clinic.html" target="_blank">Breast Clinic </a></li>
                                    <li><a href="cardiac-surgery">Cardiac Surgery </a></li>
                                    <li><a href="cardiologist-in-ahmedabad">Cardiology </a></li>
                                    <li><a href="dermatology">Dermatology & Cosmetology </a></li>
                                    <li><a href="emergencycare-trauma-and-icu" class="orange-color">Emergency Care, CCU, & ICU </a> </li>
                                    <li><a href="endocrinolog">Endocrinology </a></li>
                                    <li><a href="ent">ENT </a> </li>
                                    <li><a href="epilepsy-clinic" class="orange-color"> Epilepsy Clinic </a> </li>
                                    <li><a href="https://kdblossom.co.in/foetal_medicine.html" target="_blank">Foetal Medicine </a></li>
                                    <li><a href="gastroenterology">Gastroenterology </a> </li>
                                    <li><a href="gastrosurgery">Gastrosurgery </a> </li>
                    </div>
                </div>
                <div class="col-lg-3 pl0 pr15">
                    <div class="box-brder">
                        <li><a href="general-dentistry-and-implant-centre">General Dentistry & Implant Centre</a></li>
                        <li><a href="general-surgery">General Surgery </a></li>
                        <li><a href="https://www.kdblossom.co.in/gynaecology.html" target="_blank">Gynaecology </a></li>
                        <li><a href="health-package">Health Checkup Packages</a></li>
                        <li><a href="heart-valve-clinic">Heart Valve Clinic</a></li>
                        <li><a href="home-healthcare" class="orange-color">Home Healthcare</a></li>
                        <li><a href="immigrants-visa-health-checkup">Immigrants Visa Health Checkup</a></li>
                        <li><a href="internal-medicine">Internal Medicine </a></li>
                        <li><a href="https://kdblossom.co.in/ivf.html" target="_blank">Fertility Clinic</a></li>
                        <li><a href="laboratory-medicine">Laboratory Medicine</a></li>
                        <li><a href="liver-transplant">Liver Transplant</a></li>
                        <li><a href="medical-oncology-n-chemotherapy-centre">Medical Oncology </a></li>
                        <li><a href="https://kdblossom.co.in/neonatology.html" target="_blank">Neonatology & Paediatrics </a></li>
                    </div>
                </div>
                <div class="col-lg-3 pl0 pr15">
                    <div class="box-brder">
                        <li><a href="nephrologist-in-ahmedabad">Nephrology & Dialysis Centre</a></li>
                        <li><a href="neurology-hospital-near-me">Neurology</a></li>
                        <li><a href="neurosurgeon-in-ahmedabad">Neurosurgery</a></li>
                        <li><a href="https://www.kdblossom.co.in/obstetrics.html" target="_blank">Obstetrics </a></li>
                        <li><a href="ophthalmology-clinic-near-me">Ophthalmology </a></li>
                        <li><a href="orthopedic-hospital-ahmedabad">Orthopaedic & Joint Replacement </a></li>
                        <li><a href="cori-robotics">Joint Replacement (Robotic)</a></li>
                        <li><a href="pain-clinic">Pain Clinic</a></li>
                        <li><a href="physiotherapy-center">Physiotherapy Centre</a></li>
                        <li><a href="plastic-surgery">Plastic Surgery </a></li>
                        <li><a href="psychiatry">Psychiatry</a></li>
                        <li><a href="pulmonology">Pulmonology</a></li>
                        <li><a href="radiology">Radiology </a></li>
                    </div>
                </div>
                <div class="col-lg-3 pl0 pr15">
                    <div class="box-brder">
                        <li><a href="robotic-surgery.html" class="orange-color">Robotic Surgery </a></li>
                        <li><a href="sleep-lab">Sleep Clinic</a></li>
                        <li><a href="spine-surgery">Spine Surgery </a></li>
                        <li><a href="surgical-oncology">Surgical Oncology</a></li>
                        <li><a href="organ-donation" class="orange-color">Transplant Services</a></li>
                        <li><a href="trauma-centre" class="orange-color">Trauma Centre</a></li>
                        <li><a href="telemedicine">Telemedicine</a></li>
                        <li><a href="urologist-in-ahmedabad" class="orange-color">Urology</a></li>
                        <li><a href="vascular-n-thoracic-surgery">Vascular & Thoracic Surgery </a></li>
                        <li><a href="vertigo-and-balance-disorder-clinic">Vertigo & Balance Disorder Clinic </a></li>
                    </div>
                </div>
            </div>
    </div>
    </ul>
    </li><li><a href="doctors">Our Doctors</a></li>
    <li class="dropdown">
        <a href="#">Associations </a>
        <ul>
            <li><a href="corporates">Corporates</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#">Cashless Services</a>
        <ul>
            <li><a href="insurance-companies">Insurance Companies</a></li>
            <li><a href="tpas">TPAs</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#">Patient Corner </a>
        <ul>
            <li><a href="patients-care-&-services">Patient Care & Services</a></li>
            <li><a href="patients-speaks">Patient Speaks</a></li>
            <li><a href="miracles-of-care">Miracles of Care</a></li>
            <li><a href="virtual-tour" target="_blank">Virtual Tour</a></li>
            <li><a href="patient-information-leaflets">Patient Information Leaflets</a></li>
            <li><a href="bmi-calculator">Body Mass Index Calculator </a></li>
            <li><a href="bmr-calculator">Basal Metabolic Rate Calculator </a></li>
            <li><a href="ovulation-calculator">Ovulation Calculator </a></li>
        </ul>
    </li>
    <li><a href="international-patient-care">International Patient</a></li>
    <li class="dropdown mega-menu">
        <a href="#">More </a>
        <ul class="medical_spec">
            <div class="col-md-12 p0">
                <div class="row m0">
                    <div class="col-lg-4 pr15">
                        <div class="box-brder">
                            <h4>About</h4>
            <li><a href="vision-mission">Vision and Mission</a></li>
            <li><a href="multispeciality-hospital-ahmedabad">About Us</a></li>
            <li><a href="kd-foundation">KD Foundation</a></li>
            <li><a href="career">Career</a></li>
            <li><a href="contact-us">Contact Us</a></li>
            </div>
            </div>
            <div class="col-lg-4 pl0 pr15">
                <div class="box-brder">
                    <h4>Academics</h4>
            <li><a href="https://www.kdiahs.com/" target="_blank">KDIAHS</a></li>
            <li><a href="dnb-program">DNB Program</a></li>
            <li><a href="cme">CME</a></li>
            <li><a href="nursing-education">Nursing Education</a></li>
            <li><a href="paramedical-programs"> Paramedical Programs</a></li>
            <li><a href="kd-arthroplasty-fellowship-programme"> Fellowship Programs</a></li>
            </div>
            </div>
            <div class="col-lg-4 pl0 pr15">
                <div class="box-brder">
                    <h4>Media</h4>
            <li><a href="news">News</a></li>
            <li><a href="events">Events</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="certifications">Certifications</a></li>
            <li><a href="https://www.kdmarathon.com/" target="_blank">KD Marathon</a></li>
            <li><a href="hospital-based-ethical-committee">Committees</a></li>
            </div>
            </div>
            </div>
            </div>
        </ul>
    </li>
    </ul>
    <!-- /.main-nav__navigation-box -->
    </div>
    <!-- /.main-nav__main-navigation -->
    <div class="main-nav__right">
        <a href="kdcitycentre"> <img src="kdcitycentre/img/logo.png"> </a>
        <!-- /.main-nav-one__cta -->
    </div>

    <!-- /.main-nav__right -->
    </div>
    <!-- /.inner-container -->
    </div>
    <!-- /.container -->
    </nav><!-- /.main-nav-one -->

    <section class="page-header" style="background-image: url(../Content/template/assets/images/inner-page-banner/Home-Healthcare.jpg);">
        <div class="container">

            <ul class="list-unstyled page-breadcrumb">
                <li><a href="index"><i class="fa fa-home"></i></a></li>
                <li>Medical Specialities </li>
                <li><span>Home Healthcare </span></li>

                <li><span>LD Niramaya 1</span></li>
            </ul><!-- /.list-unstyled -->
        </div><!-- /.container -->
    </section><!-- /.page-header -->



    <section class="sec_pad">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="block-title text-center">
                        <h1>LiveDoc <span class="dark-title">Niramaya 1</span></h1>

                        <span class="price-orange-font">@*<i class="fa fa-rupee-sign"></i>*@₹ 3,400/- </span>
                    </div>
                </div>


                <div class="details-health-checkup">

                    <div class="row">


                        <div class="col-md-4 col-sm-4 col-xs-12 ">
                            <div class="health-checkup-lists">

                                <h6>Preliminary Tests </h6>



                                <ul class="blog-details__list list-unstyled">

                                    <li> CBC </li>
                                    <li>Blood Group & RH</li>
                                    <li>
                                        Urine RM
                                    </li>
                                    <li><i class="fa fa-check-circle"></i>ESR</li>
                                    <li>
                                        <i class="fa fa-check-circle"></i>Vitamin b12
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 ">
                            <div class="health-checkup-lists">
                                <h6> Kidney Profile </h6>



                                <ul class="blog-details__list list-unstyled">

                                    <li>S.Creatinine</li>
                                    <li><i class="fa fa-check-circle"></i>Urea</li>
                                    <li><i class="fa fa-check-circle"></i>Sodium</li>
                                    <li><i class="fa fa-check-circle"></i>Potassium</li>
                                    <li><i class="fa fa-check-circle"></i>Chloride</li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 ">
                            <div class="health-checkup-lists">
                                <h6> Thyroid Profile </h6>



                                <ul class="blog-details__list list-unstyled">

                                    <li>TSH</li>


                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 ">
                            <div class="health-checkup-lists">
                                <h6>
                                    Liver Function Test

                                </h6>



                                <ul class="blog-details__list list-unstyled">

                                    <li>
                                        SGPT

                                    </li>
                                    <li> SGOT </li>
                                    <li><i class="fa fa-check-circle"></i> S.Billirubin </li>
                                    <li><i class="fa fa-check-circle"></i> Alkaline Phosphate </li>
                                    <li><i class="fa fa-check-circle"></i> Total Protein </li>
                                    <li><i class="fa fa-check-circle"></i> Albumin </li>
                                    <li><i class="fa fa-check-circle"></i> GLobulin </li>
                                    <li><i class="fa fa-check-circle"></i> A/G Ratio </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 ">


                            <div class="health-checkup-lists">
                                <h6>
                                    Diabetic Profile

                                </h6>



                                <ul class="blog-details__list list-unstyled">

                                    <li>
                                        RBS

                                    </li>
                                    <!--<li>FBS</li>-->
                                    <li><i class="fa fa-check-circle"></i>HBA1C</li>

                                </ul>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 ">

                            <div class="health-checkup-lists">
                                <h6>
                                    Lipid Profile
                                </h6>



                                <ul class="blog-details__list list-unstyled">

                                    <li> Total Cholesterol </li>
                                    <li><i class="fa fa-check-circle"></i> Triglyceride </li>
                                    <li><i class="fa fa-check-circle"></i>  HDL Cholesterol  </li>
                                    <li><i class="fa fa-check-circle"></i>  VLDL Cholsterol </li>
                                    <li><i class="fa fa-check-circle"></i> LDL Cholesterol </li>
                                    <li><i class="fa fa-check-circle"></i>  LDLC3  </li>
                                    <li><i class="fa fa-check-circle"></i>  Total Chol/HDL Ratio  </li>
                                    <li><i class="fa fa-check-circle"></i>  LDL/HDL Ratio  </li>
                                    <li><i class="fa fa-check-circle"></i> Total Lipid  </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 ">
                            <div class="health-checkup-lists">
                                <h6>
                                    Artheritis Test

                                </h6>



                                <ul class="blog-details__list list-unstyled">

                                    <li>
                                        Calcium

                                    </li>
                                    <li>
                                        <i class="fa fa-check-circle"></i>Uric Acid
                                    </li>
                                    <li>
                                        <i class="fa fa-check-circle"></i>RA Factor
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>







    <footer class="site-footer">
        <div class="site-footer__upper"> </div>
        <div class="site-footer__main">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-5">
                        <!-- /.footer-widget__title -->
                        <div class="footer-widget footer-widget__about">
                            <h3 class="footer-widget__title ">Kusum Dhirajlal Hospital</h3>
                            <p class="mb-20">
                                <i class="oberlin-icon-marker"></i> Vaishnodevi Circle, SG Road,<br>
                                <span class="space-padding-right"></span> Ahmedabad - 382421
                            </p>
                            <ul class="list-unstyled footer-widget__links-list width-100">
                                <li><a href="tel: +91 79 6677 0000"><i class="oberlin-icon-phone"></i>+91 79 6677 0000</a></li>
                                <li><a href="mailto: contact@kdhospital.co.in"><i class="oberlin-icon-email"></i>contact@kdhospital.co.in</a></li>
                                <li><a href="https://goo.gl/maps/ZjUjXtF5g34jQY6VA" target="_blank"><i class="oberlin-icon-marker"></i>Get Direction</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.col-xl-4 col-lg-6 col-md-5 -->
                    <div class="col-xl-3 col-lg-6 col-md-5">
                        <!-- /.footer-widget__title -->
                        <div class="footer-widget footer-widget__about">
                            <h3 class="footer-widget__title ">KD City Centre</h3>
                            <p class="mb-20">
                                <i class="oberlin-icon-marker"></i>  Opp. ITC Narmada
                                Vastrapur<br>
                                <span class="space-padding-right"></span> Ahmedabad-380015
                            </p>
                            <ul class="list-unstyled footer-widget__links-list width-100">
                                <li><a href="tel:  079 35353535"><i class="oberlin-icon-phone"></i> 079 35353535</a></li>
                                <li><a href="mailto: kdcitycentre@kdhospital.co.in"><i class="oberlin-icon-email"></i>kdcitycentre@kdhospital.co.in</a></li>
                                <li><a href="https://goo.gl/maps/8oSsnFBPSMgoZgkg9" target="_blank"><i class="oberlin-icon-marker"></i>Get Direction</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.col-xl-4 col-lg-6 col-md-5 -->
                    <!-- /.col-xl-2 col-lg-6 col-md-5 -->
                    <div class="col-xl-3 col-lg-6 col-md-5">
                        <div class="footer-widget footer-widget__post">
                            <h3 class="footer-widget__title">Important</h3>
                            <!-- /.footer-widget__title -->

                            <ul class="list-unstyled footer-widget__links-list  mb-30">
                                <li><a href="doctors"><i class="fa fa-angle-right"></i>Doctors </a></li>
                                <li><a href="multispeciality-hospital-ahmedabad"><i class="fa fa-angle-right"></i>About Us</a></li>
                                <li><a href="https://www.kdmarathon.com/" target="_blank"><i class="fa fa-angle-right"></i>KD Marathon</a></li>

                                <li><a href="patients-speaks"><i class="fa fa-angle-right"></i>Patient Speaks</a></li>
                                <li><a href="https://www.kdblossom.co.in/" target="_blank"><i class="fa fa-angle-right"></i>Women & Child Care</a></li>
                                <li><a href="kdcitycentre/" target="_blank"><i class="fa fa-angle-right"></i>KD City Centre</a></li>
                                <li><a href="pdfs/quality-indicators.pdf" target="_blank"><i class="fa fa-angle-right"></i>Quality Indicators</a></li>
                            </ul>
                            <!--
                                            <h3 class="footer-widget__title ">OPD Timings</h3>
                                            <p>Monday - Saturday: 10 : 00 AM - 6 : 00 PM </p>
                            -->
                        </div>
                        <!-- /.footer-widget footer-widget__post -->
                    </div>
                    <!-- /.col-xl-3 col-lg-6 col-md-5 -->

                    <div class="col-xl-3 col-lg-6 col-md-5">
                        <div class="footer-widget footer-widget__contact">
                            <!--              <h3 class="footer-widget__title">Contact Us</h3>-->
                            <ul class="list-unstyled footer-widget__links-list width-100 mb-30">
                                <!--
                                                <li><a href="tel: +91 79 6677 0000"><i class="oberlin-icon-phone"></i>+91 79 6677 0000</a></li>
                                                <li><a href="mailto: contact@kdhospital.co.in"><i class="oberlin-icon-email"></i>contact@kdhospital.co.in</a></li>
                                                <li><a href="https://goo.gl/maps/ZjUjXtF5g34jQY6VA" target="_blank"><i class="oberlin-icon-marker"></i>Get Direction</a></li>
                                -->
                                <li>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3668.9480733071982!2d72.53958341495864!3d23.13557321790088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e8390ebc97b4f%3A0x4e01d19f2121e25c!2sKD%20Hospital!5e0!3m2!1sen!2sin!4v1676365125085!5m2!1sen!2sin" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </li>
                            </ul>
                        </div>
                        <!-- /.footer-widget footer-widget__contact -->
                    </div>
                    <!-- /.col-xl-3 col-lg-6 col-md-5 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.site-footer__main -->
        <div class="site-footer__bottom">
            <div class="container">
                <p>© <span class="currentyear"></span> KD Hospital is incorporated by SHRI HARIHAR MAHARAJ CHARITABLE TRUST. All Rights Reserved. <a href="https://compubrain.com/" target="_blank" title="Website Designed By CompuBrain" class="cb"><img src="assets/images/compubrain_monogram.png" alt="Designed by CompuBrain" title="Designed by CompuBrain"></a></p>
                <div class="site-footer__social"> <a href="https://www.facebook.com/KDHospitalOfficial/" target="_blank"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/HospitalKd" target="_blank"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/kdhospitalofficial/" target="_blank"><i class="fab fa-instagram"></i></a> <a href="https://in.linkedin.com/company/kd-hospital" target="_blank"><i class="fab fa-linkedin"></i></a> <a href="https://social.kdhospital.co.in/" target="_blank" title="We're Social"><img src="assets/images/top_10_surgeons_in_india.png" alt="Best Super Speciality Hospital in Ahmedabad" title="Top 10 Surgeons in India"> </a> </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.site-footer__bottom -->
        <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>
    </footer>
    <!-- /.site-footer --> <!-- /.site-footer -->
    </div>
    <div class="side-menu__block">

        <a href="#" class="side-menu__toggler side-menu__close-btn">
            <i class="fa fa-times"></i>
            <!-- /.fa fa-close -->
        </a>

        <div class="side-menu__block-overlay custom-cursor__overlay">

        </div><!-- /.side-menu__block-overlay -->
        <div class="side-menu__block-inner ">

            <a href="index.html" class="side-menu__logo">
                <img src="~/Content/template/assets/images/K_D_Hospital_Footer_Logo.png" alt=""
                     width="190">
            </a>
            <nav class="mobile-nav__container">
                <!-- content is loading via js -->
            </nav>

            <!--
                        <div class="side-menu__social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-google-plus"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
            -->
        </div><!-- /.side-menu__block-inner -->
    </div><!-- /.side-menu__block -->
    <!-- template scripts -->
    <script src="~/Content/template/assets/js/jquery.min.js"></script>
    <script src="~/Content/template/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/template/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/template/assets/js/bootstrap-select.min.js"></script>
    <script src="~/Content/template/assets/js/isotope.js"></script>
    <script src="~/Content/template/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.circleType.js"></script>
    <script src="~/Content/template/assets/js/waypoints.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.counterup.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.lettering.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/template/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/template/assets/js/TweenMax.min.js"></script>
    <script src="~/Content/template/assets/js/wow.min.js"></script>
    <script src="~/Content/template/assets/js/theme.js"></script>
    <script src="~/Content/template/assets/js/testimonial.js"></script>
    <!--<script src="assets/js/mobile.js"></script>-->
    <script>new WOW().init();</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-772875026"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-772875026');
    </script>



    <script>
        gtag('event', 'page_view', {
            'send_to': 'AW-772875026',
            'user_id': 'replace with value'
        });
    </script>


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HF6PKWGCCL"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-HF6PKWGCCL');</script>

</body>

</html>