@{
    Layout = "~/Views/Shared/_Layout_Patient.cshtml";
}

<div class="page-wrapper">

    </nav>
    <!-- /.main-nav-one -->

    <section class="page-header" style="background-image: url(../Content/template/assets/images/inner-page-banner/Home-Healthcare.jpg);">
        <div class="container">

            <ul class="list-unstyled page-breadcrumb">
                <li><a href="index"><i class="fa fa-home"></i></a></li>
                <li>Medical Specialities </li>
                <li><span>Home Healthcare </span></li>

                <li><span>Kd Swasthya 1</span></li>
            </ul>
            <!-- /.list-unstyled -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.page-header -->



    <section class="sec_pad">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="block-title text-center">
                        <h1>LiveDoc <span class="dark-title">Swasthya 1</span></h1>

                        <span class="price-orange-font"><i class="fa fa-rupee"></i> 750/- </span>
                    </div>
                </div>

                <div class="details-health-checkup">

                    <div class="row">

                        <div class="col-md-4 col-sm-4 col-xs-12 ">
                            <div class="health-checkup-lists">

                                <h6>Preliminary Tests </h6>

                                <ul class="blog-details__list list-unstyled">

                                    <li><i class="fa fa-check-circle"></i> CBC </li>
                                    <li><i class="fa fa-check-circle"></i>Blood Group & RH</li>
                                    <li>
                                        <i class="fa fa-check-circle"></i>Urine RM
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 ">
                            <div class="health-checkup-lists">
                                <h6>Liver Function Test</h6>
                                <ul class="blog-details__list list-unstyled">

                                    <li><i class="fa fa-check-circle"></i>SGPT</li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 ">
                            <div class="health-checkup-lists">
                                <h6>
                                    Diabetic Profile
                                </h6>

                                <ul class="blog-details__list list-unstyled">

                                    <li><i class="fa fa-check-circle"></i>RBS</li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 ">
                            <div class="health-checkup-lists">
                                <h6>
                                    Kidney Profile

                                </h6>

                                <ul class="blog-details__list list-unstyled">

                                    <li>
                                        <i class="fa fa-check-circle"></i>S.Creatinine

                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>







