@{
    Layout = "~/Views/Shared/_Layout_Patient.cshtml";
}

<div class="page-wrapper">

    </nav><!-- /.main-nav-one -->

    <section class="page-header" style="background-image: url(../Content/template/assets/images/inner-page-banner/Home-Healthcare.jpg);">
        <div class="container">

            <ul class="list-unstyled page-breadcrumb">
                <li><a href="index"><i class="fa fa-home"></i></a></li>
                <li>Medical Specialities </li>
                <li><span>Home Healthcare </span></li>

                <li><span>Kd Niramaya 2</span></li>
            </ul><!-- /.list-unstyled -->
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="sec_pad">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="block-title text-center">
                        <h1>LiveDoc <span class="dark-title">Niramaya 2</span></h1>

                        <span class="price-orange-font">@*<i class="fa fa-rupee-sign"></i>*@ ₹ 4,300/- </span>
                    </div>
                </div>

                <div class="details-health-checkup">

                    <div class="row">


                        <div class="col-md-4 col-sm-4 col-xs-12 ">
                            <div class="health-checkup-lists">

                                <h6>Preliminary Tests </h6>

                                <ul class="blog-details__list list-unstyled">

                                    <li><i class="fa fa-check-circle"></i> CBC </li>
                                    <li><i class="fa fa-check-circle"></i>Blood Group & RH</li>
                                    <li>
                                        <i class="fa fa-check-circle"></i>Urine RM
                                    </li>
                                    <li><i class="fa fa-check-circle"></i>ESR</li>
                                    <li>
                                        <i class="fa fa-check-circle"></i>Vitamin b12
                                    </li>
                                    <li>
                                        <i class="fa fa-check-circle"></i>Vitamin D3
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 ">
                            <div class="health-checkup-lists">
                                <h6> Kidney Profile </h6>



                                <ul class="blog-details__list list-unstyled">

                                    <li><i class="fa fa-check-circle"></i>S.Creatinine</li>
                                    <li><i class="fa fa-check-circle"></i>Urea</li>
                                    <li><i class="fa fa-check-circle"></i>Sodium</li>
                                    <li><i class="fa fa-check-circle"></i>Potassium</li>
                                    <li><i class="fa fa-check-circle"></i>Chloride</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 ">
                            <div class="health-checkup-lists">
                                <h6> Thyroid Profile</h6>



                                <ul class="blog-details__list list-unstyled">

                                    <li><i class="fa fa-check-circle"></i>TSH</li>
                                    <li><i class="fa fa-check-circle"></i>T3</li>
                                    <li><i class="fa fa-check-circle"></i>T4</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 ">
                            <div class="health-checkup-lists">
                                <h6>
                                    Liver Function Test
                                </h6>


                                <ul class="blog-details__list list-unstyled">

                                    <li><i class="fa fa-check-circle"></i>SGPT</li>
                                    <li><i class="fa fa-check-circle"></i>SGOT</li>
                                    <li><i class="fa fa-check-circle"></i>S.Billirubin</li>
                                    <li><i class="fa fa-check-circle"></i>Alkaline Phosphate</li>
                                    <li><i class="fa fa-check-circle"></i>Total Protein</li>
                                    <li><i class="fa fa-check-circle"></i>Albumin</li>
                                    <li><i class="fa fa-check-circle"></i>GLobulin</li>
                                    <li><i class="fa fa-check-circle"></i>A/G Ratio</li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 ">

                            <div class="health-checkup-lists">
                                <h6>
                                    Diabetic Profile

                                </h6>

                                <ul class="blog-details__list list-unstyled">

                                    <li>
                                        <i class="fa fa-check-circle"></i>RBS

                                    </li>
                                    <li>
                                        <i class="fa fa-check-circle"></i>HBA1C & average blood glucose
                                    </li>
                                    <li><i class="fa fa-check-circle"></i>Insulin</li>

                                </ul>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 ">

                            <div class="health-checkup-lists">
                                <h6>
                                    Lipid Profile

                                </h6>

                                <ul class="blog-details__list list-unstyled">

                                    <li><i class="fa fa-check-circle"></i>Total Cholesterol</li>
                                    <li><i class="fa fa-check-circle"></i>Triglyceride</li>
                                    <li><i class="fa fa-check-circle"></i>HDL Cholesterol</li>
                                    <li><i class="fa fa-check-circle"></i>VLDL Cholsterol</li>
                                    <li><i class="fa fa-check-circle"></i>LDL Cholesterol</li>
                                    <li><i class="fa fa-check-circle"></i>LDLC3</li>
                                    <li><i class="fa fa-check-circle"></i>Total Chol/HDL Ratio</li>
                                    <li><i class="fa fa-check-circle"></i>LDL/HDL Ratio</li>
                                    <li><i class="fa fa-check-circle"></i>Total Lipid</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>

