
@{
    Layout = "~/Views/Shared/_Layout_Patient.cshtml";
}

<div class="page-wrapper">


    <section class="page-header" style="background-image: url(../Content/template/assets/images/inner-page-banner/Organ-Donation.jpg);">
        <div class="container">
            <ul class="list-unstyled page-breadcrumb">
                <li><a href="index"><i class="fa fa-home"></i></a></li>
                <li>Specialities </li>
                <li><span> Transplant Services </span></li>
                <li><span> Lung Transplant </span></li>
            </ul>
            <!-- /.list-unstyled -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.page-header -->

    <section class="event-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="event-details__sidebar">
                        <div class="event-details__sidebar-single event-details__sidebar-dark-bg">
                            <h3>Contact <span class="dark-title">Info</span></h3>
                            <ul class="event-details__sidebar-list list-unstyled">
                                <li>
                                    <i class="fa fa-check-circle"></i> <i class="far fa-phone"></i>
                                    <h4>OPERATOR</h4>
                                    <p><a href="tel:+91 79 6677 0000">+91 79 6677 0000</a></p>
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i> <i class="far fa-phone"></i>
                                    <h4>EMERGENCY</h4>
                                    <p><a href="tel:  +91 79 6677 0001"> +91 79 6677 0001</a></p>
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i> <i class="far fa-phone"></i>
                                    <h4>AMBULANCE</h4>
                                    <p><a href="tel:  +91 79 6677 0002"> +91 79 6677 0002</a></p>
                                </li>
                            </ul>
                            <!-- /.event-details__sidebar-list list-unstyled -->
                        </div>
                        <!-- /.event-details__sidebar-single -->
                    </div>
                    <!-- /.event-details__sidebar -->

                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-8">
                    <div class="event-details__main">
                        <div class="block-title">
                            <h1> Transplant Services</h1>
                        </div>
                        <div class="transplant-services donation-one">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="donation-one__single">
                                        <div class="donation-one__image"> <img src="~/Content/template/assets/images/lung-transplant.jpg" alt="" title="Organ Donation"> <a href="lung-transplant"><i class="fal fa-link"></i></a> </div>
                                        <div class="donation-one__content">
                                            <h3><a href="lung-transplant">Lung <br>Transplant</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="donation-one__single">
                                        <div class="donation-one__image"> <img src="~/Content/template/assets/images/Organ-Donation.jpg" alt="" title="Organ Donation"> <a href="heart_transplant"><i class="fal fa-link"></i></a> </div>
                                        <div class="donation-one__content">
                                            <h3>
                                                <a href="heart-transplant">
                                                    Heart <br>Transplant
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <div class="donation-one__single">
                                        <div class="donation-one__image"> <img src="~/Content/template/assets/images/Renal-Transplant.jpg" alt="" title="Renal Transplant"> <a href="renal-transplant"><i class="fal fa-link"></i></a> </div>
                                        <div class="donation-one__content">
                                            <h3>
                                                <a href="renal-transplant">
                                                    Kidney <br>
                                                    Transplant
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="donation-one__single">
                                        <div class="donation-one__image"> <img src="~/Content/template/assets/images/Liver-Transplant.jpg" alt="" title="Liver Transplant"> <a href="liver-transplant"><i class="fal fa-link"></i></a> </div>
                                        <div class="donation-one__content">
                                            <h3>
                                                <a href="liver-transplant">
                                                    Liver <br>
                                                    Transplant
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-3 col-md-6 mt-20">
                                    <div class="donation-one__single">
                                        <div class="donation-one__image"> <img src="~/Content/template/assets/images/Cornea-Transplant.jpg" alt="" title="Cornea Transplant"> <a href="cornea-transplant"><i class="fal fa-link"></i></a> </div>
                                        <div class="donation-one__content">
                                            <h3>
                                                <a href="cornea-transplant">
                                                    Cornea <br>
                                                    Transplant
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <h4 class="transplant-services-title">Lung Transplant </h4>
                        <h4 class="pt-5">Introduction</h4>
                        <p>Introducing our revolutionary lung transplant services, designed to provide renewed hope and a breath of fresh air to individuals battling severe lung diseases. At KD hospital, we understand the debilitating impact of lung conditions on daily life, and we are committed to offering cutting-edge solutions for those in need of a lung transplant. With a team of world-class surgeons and transplant specialists, state-of-the-art facilities, and a track record of successful outcomes, we are at the forefront of lung transplantation. </p>
                        <p>
                            Our comprehensive approach encompasses thorough patient evaluations, meticulous donor
                            matching, and personalized care plans to ensure the best possible outcomes. From pre-transplant
                            assessments to post-operative recovery, our multidisciplinary team provides unwavering support,
                            compassion, and expertise at every step of the journey. With our commitment to patient safety,
                            advanced surgical techniques, and comprehensive rehabilitation programs, we aim to transform lives
                            and restore the joy of breathing freely. Choose KD hospital for lung transplant services that are
                            second to none, and let us help you embark on a new chapter of health and vitality.
                        </p>

                        <h4>Services at KD Hospital’s Lung Transplant Department:</h4>

                        <ul class="blog-details__list list-unstyled">
                            <li><i class="fa fa-check-circle"></i> Pulmonary Function Test</li>
                            <li><i class="fa fa-check-circle"></i> Diffuse Capacity Test</li>
                            <li><i class="fa fa-check-circle"></i> Lung Volume measurements</li>
                            <li><i class="fa fa-check-circle"></i> Impulse Oscillometry</li>
                            <li><i class="fa fa-check-circle"></i> FENO measurement</li>
                        </ul>

                        <h4>Basic Bronchoscopy</h4>

                        <ul class="blog-details__list list-unstyled">
                            <li>
                                <i class="fa fa-check-circle"></i> Bronchoalveolar lavage (BAL)
                            </li>
                            <li><i class="fa fa-check-circle"></i> Bronchoscopic lung biopsy (BLB)</li>
                            <li><i class="fa fa-check-circle"></i> Transbronchial lung biopsy (TBLB)</li>
                            <li><i class="fa fa-check-circle"></i> Transbronchial needle aspiration (TBNA)</li>
                        </ul>

                        <h4>Advanced Bronchoscopy</h4>

                        <ul class="blog-details__list list-unstyled">
                            <li><i class="fa fa-check-circle"></i> Convex probe endobronchial ultrasound (EBUS)</li>
                            <li><i class="fa fa-check-circle"></i> Lung Cryo Biopsy</li>
                            <li><i class="fa fa-check-circle"></i> Radial EBUS</li>
                            <li><i class="fa fa-check-circle"></i> Rigid Bronchoscopy</li>
                        </ul>

                        <h4>Pleural Services</h4>
                        <ul class="blog-details__list list-unstyled">
                            <li><i class="fa fa-check-circle"></i> Pleuroscopy</li>
                            <li>
                                <i class="fa fa-check-circle"></i> Thoracoscopy & Video-assisted Thoracoscopic Surgery (VATS)
                            </li>
                            <li><i class="fa fa-check-circle"></i> Lung Transplant</li>
                        </ul>

                        <h4>Dr. Sandeep Gangaya Attawar</h4>

                        <div class="row d-flex align-items-center mt-3 mb-3">
                            @*<img src="~/Content/template/assets/images/K_D_Hospital_Footer_Logo.png" alt=""*@
                            <div class="col-md-4 col-sm-4 margin-auto"> <img src="~/Content/template/assets/images/doctors/dr-sandip-modh-best-neurosurgeon-in-ahmedabad.jpg" alt="Dr. Dhyanesh Desai " title="Dr. Sandeep Gangaya Attawar " class="doctor_img"> </div>
                            <div class="col-md-8 col-sm-8 pt-3rem dr-details">
                                <p>
                                    Dr. Sandeep Attawar was born and spent his formative years in Ahmedabad, did his medical
                                    schooling and specialized in General surgery at the Sheth KM school of PG medicine. He further
                                    specialized in Cardiac surgery at the Sri Chitra Thirunal institute, Trivandrum.
                                </p>
                            </div>
                        </div>


                        <p>
                            He focuses, solely on a top-down realignment of pre-existing cardiac and respiratory services into
                            heart and lung transplant centers.
                        </p>

                        <p>
                            His team have performed close to 450+ thoracic organ transplants (of which 290 were Double lung
                            transplants, 110 Heart transplants & 51 Combine Heart & Lung transplants) in this period, with over
                            48 left ventricular assist device implants.
                        </p>


                        <p>
                            Dr. Attawar & his team have currently performed 30 successful double lung transplants on patients
                            with end stage COVID damaged lungs. This is one of the largest series of lung transplants for this
                            emerging disease in the world.
                        </p>

                        <p>
                            Dr. Attawar is also current president Indian Society of Heart and Lung Transplant (INSHLT). He is on
                            the international panel of 24 experts to form the consensus guidelines for Lung Transplantations at
                            the ISHLT this year. These guidelines are the Lung transplant Bible for over 250 hospitals all across the
                            Globe that pursue the science of Lung transplantation.
                        </p>

                        <p>
                            In addition, Dr. Attawar is also an active member in international cardiothoracic forums such as
                            the International society for Heart and Lung Transplantation (ISHLT), Society of Thoracic surgeons
                            (STS ) and the European association of cardio-thoracic surgery ( EACTS ).
                        </p>

                        <p>
                            Dr. Sandeep Attawar is a firm believer in universal access to quality care and outcomes in heart and
                            lung transplants, striving to provide the highest quality of care to patients at his institution.
                        </p>

                        <div class="composer layout_fullwidth_padding">
                            <div class="tta-container" data-vc-action="collapseAll">
                                <div class="general tta tta-accordion tta-style-classic tta-o-shape-group tta-controls-align-left tta-o-all-clickable">
                                    <div class="tta-panels-container">
                                        <div class="tta-panels">
                                            <div class="tta-panel" id="a6" data-vc-content=".tta-panel-body">
                                                <div class="tta-panel-heading">
                                                    <h4 class="tta-panel-title tta-controls-icon-position-right"><a href="#a6" data-vc-accordion="" data-vc-container=".tta-container"><span class="tta-title-text">What is a Lung Transplant ? </span><i class="tta-controls-icon tta-controls-icon-plus"></i></a></h4>
                                                </div>
                                                <div class="tta-panel-body" style="">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>
                                                                A lung transplant is a type of surgery that replaces one or both of your damaged or diseased lungs
                                                                with a donor’s healthy lungs. It’s a necessary procedure if you have a lung condition or injury that
                                                                doesn’t respond to other treatments.
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tta-panel" id="a7" data-vc-content=".tta-panel-body">
                                                <div class="tta-panel-heading">
                                                    <h4 class="tta-panel-title tta-controls-icon-position-right"><a href="#a7" data-vc-accordion="" data-vc-container=".tta-container"><span class="tta-title-text">Why Lung Transplant ?</span><i class="tta-controls-icon tta-controls-icon-plus"></i></a></h4>
                                                </div>
                                                <div class="tta-panel-body" style="">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>Patients who are considering lung transplant as a treatment option require a full evaluation of not just their disease but its impact on their bodies and other organ systems as well. That evaluation includes myriad medical tests and an assessment of their social, lifestyle, psychological states, family support, and other medical comorbidities. Once we determine that none of those factors would be inhibitive to having a good outcome or predictive of not having a bad outcome after their lung transplant, would we would consider their candidacy for this life-altering treatment.</p>

                                                            <p>Our lung transplant program wait times are something that we're quite proud of. The majority of people receive a transplant within two months of being listed for their transplant. This happens as the team is focused and rallies around every patient and caregiver, to bring them up to speed with lifestyle changes, education, physical rehabilitation, nutritional supplementation & psychological support that would be needed to get them, in the best shape before they are transplanted. This is the only transplant service nationally that utilizes all these resources consistently and effectively, to deliver expected positive outcomes, closely monitored long term care, and great survival. I like to think of transplantation as personalized medicine, where the patient is at the center of a team of a highly experienced, motivated, committed, and compassionate set of medical professionals.</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tta-panel" id="a8" data-vc-content=".tta-panel-body">
                                                <div class="tta-panel-heading">
                                                    <h4 class="tta-panel-title tta-controls-icon-position-right"><a href="#a8" data-vc-accordion="" data-vc-container=".tta-container"><span class="tta-title-text">What are the various steps of the Lung Transplant journey?</span><i class="tta-controls-icon tta-controls-icon-plus"></i></a></h4>
                                                </div>
                                                <div class="tta-panel-body" style="">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>Your lung transplant journey starts with a referral from your primary physician or referring pulmonologist. Our administrative team will connect you with our lung transplant pulmonologist. During this appointment, you will learn about your current health status and outlook in much greater and elaborate detail. After this appointment and your consent, the lung transplant pulmonologist will ask the transplant evaluation team to plan a transplant assessment.</p>

                                                            <p>Having a lung transplant is a big decision. You need to understand the benefits, risks, and program requirements. The evaluation helps to determine if transplantation is the right treatment for you and ensures that it is as safe as possible for you to have a transplant. The assessment process will involve coming to the hospital to have a number of tests, and meeting with key members of your team. The assessment process will give you, your family, and our team the information to make an informed decision about having a lung transplant. Once your assessment is complete, the transplant team will meet to review your results. This assessment process can take up to one week (seven days). Your transplant coordinator will call you to meet our specialists that include pulmonologists, surgeons, intensivists, nutritionists, psychologists, infectious disease specialists, transplant coordinators, physiotherapists, and financial counselors to discuss the results of your assessment after the pre-transplant selection meeting.</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tta-panel" id="a9" data-vc-content=".tta-panel-body">
                                                <div class="tta-panel-heading">
                                                    <h4 class="tta-panel-title tta-controls-icon-position-right">
                                                        <a href="#a9" data-vc-accordion="" data-vc-container=".tta-container">
                                                            <span class="tta-title-text">
                                                                What is the Eligibility Criteria for Lung Transplant
                                                            </span><i class="tta-controls-icon tta-controls-icon-plus"></i>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="tta-panel-body" style="">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>
                                                                Evaluation and selection of patients for transplantation is the result of a coordinated process, which looks at the whole patient. While you can be screened for basic eligibility outside the centre, a comprehensive evaluation will require a visit to the Heart and Lung Transplant Institute. Patients with end-stage lung disease requiring life support may be considered for inpatient transfer for urgent evaluation and listing, however, this is an exceptional circumstance and is guided and monitored by the organ allocation policy of, the regional organ allocation body that is governed and monitored by the Department of Health.

                                                            </p>

                                                            <p>Evaluation is conducted in stages and is customized to efficiently address key issues that might prohibit transplantation in a particular patient. After the evaluation is completed, the patient’s case is discussed in the multidisciplinary transplantation-evaluation conference. A complete presentation is made, and opinions welcomed from all participants in the program. The decision about eligibility for transplantation is made with everyone’s consensus.</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tta-panel" id="a1" data-vc-content=".tta-panel-body">
                                                <div class="tta-panel-heading">
                                                    <h4 class="tta-panel-title tta-controls-icon-position-right"><a href="#a1" data-vc-accordion="" data-vc-container=".tta-container"><span class="tta-title-text">What are the Requirements for Lung Transplant Candidacy? </span><i class="tta-controls-icon tta-controls-icon-plus"></i></a></h4>
                                                </div>
                                                <div class="tta-panel-body" style="">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>The patient has a progressive, potentially fatal lung disease that substantially impairs the quality of life and daily function, and for which all alternative medical and surgical treatments short of lung transplantation have been exhausted.</p>
                                                            <p>The patient’s lung disease is not expected to recur and cause disability within five years.</p>
                                                            <p>The patient is not moribund, and the lung transplant is likely to prolong life for at least five years (with a five-year survival rate of over 50%) and the lung transplant will restore the patient to a range of physical and social function suitable for the activities of daily living.</p>
                                                            <p>The patient does not any conditions or diseases of a major system (e.g., cardiovascular or that would preclude surgery or indicate a poor potential for rehabilitation.</p>
                                                            <p>The patient’s psychological assessment, social arrangement, and family support indicate a reasonable expectation that the patient will adhere to the strict long-term medical regimen that will be required post-transplant.</p>
                                                            <p>The patient has no active substance abuse.</p>
                                                            <p>The patient has completed at least six months of documented rehabilitation and sobriety and has psychological clearance.</p>
                                                            <p>The patient has demonstrated the severity of illness that merits a transplant and has no absolute contraindication to the procedure.</p>
                                                            <p>The patient undergoes a comprehensive assessment, which is reviewed by the multidisciplinary transplantation committee.</p>
                                                            <p>Usually, we consider lung transplantation in persons with end-stage lung disease who are less than 65 years of age for a double lung or heart-lung transplant, and less than 70 for a single lung transplant. However, there is no absolute age contraindication and we consider patients based on their physiological age rather than the chronological age. However, long-term survival does favor younger patients as co-morbid illnesses increase with the aging process.</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tta-panel" id="a2" data-vc-content=".tta-panel-body">
                                                <div class="tta-panel-heading">
                                                    <h4 class="tta-panel-title tta-controls-icon-position-right"><a href="#a2" data-vc-accordion="" data-vc-container=".tta-container"><span class="tta-title-text">What is the Transplantation Process ? </span><i class="tta-controls-icon tta-controls-icon-plus"></i></a></h4>
                                                </div>
                                                <div class="tta-panel-body" style="">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>Immediately before transplant, we will do a few tests and you will receive anti-rejection medications and antibiotics. There is a chance that the surgery will be canceled at the last moment as the team is assessing the donor lungs right up to the moments before the surgery. If the organ is found to be sub-optimal the call will be terminated, and you will be discharged home. It is not unusual for this to happen a couple of times. In the operating room, you will be given medication to keep you unconscious. </p>
                                                            <p>Several tubes are inserted into your body, including an endotracheal tube, which is a breathing tube that extends from your mouth into the lungs, an intravenous line in your neck, a nasogastric or “NG” tube that goes into your stomach through your nose, and a urinary catheter that drains urine freely into a bag. The surgery itself can take 8 or more hours depending on your condition and whether you have a double or a single lung transplant. </p>
                                                            <p>Some people need to have their lung or heart function supported by machines before, during, or after the surgery. Your chest will be opened between the ribs in the front across the breast bone or at the side. The diseased lungs will be removed and replaced with the donor lungs, one at a time. The new lung will be connected to the main bronchus, the pulmonary artery, and the pulmonary vein. After the lung is connected, the surgeons will leave drainage tubes around the lungs and heart and carefully close the layers of bone, muscle, and skin. After the surgery, you will be taken to the intensive care unit or ICU. You will remain there until you can breathe without the help of the ventilator, or breathing machine, and until your condition is stable. </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tta-panel" id="a3" data-vc-content=".tta-panel-body">
                                                <div class="tta-panel-heading">
                                                    <h4 class="tta-panel-title tta-controls-icon-position-right"><a href="#a3" data-vc-accordion="" data-vc-container=".tta-container"><span class="tta-title-text">Can you describe the TRANSPLANTATION SURGERY ? </span><i class="tta-controls-icon tta-controls-icon-plus"></i></a></h4>
                                                </div>
                                                <div class="tta-panel-body" style="">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">

                                                            <p>Right before transplant, we will do a few last-minute tests and you will receive anti-rejection medications and antibiotics. There is a chance that the surgery will be canceled at the last moment as the team assesses the donor lungs right up to the moments before the surgery. If the organ is found to be sub-optimal the call will be terminated, and you will be discharged home. It is not unusual for this to happen more than once. </p>
                                                            <p>In the operating room, you will be under general anaesthesia, and your bodily functions will be supported by external tubes. There will be an endotracheal tube, which is a breathing tube that extends from your mouth into the lungs, an intravenous line in your neck, a nasogastric or “NG” tube that goes into your stomach through your nose, and a urinary catheter that drains urine freely into a bag. </p>
                                                            <p>The surgery itself can take 8 or more hours depending on your condition and whether you have a double or a single lung transplant. Some people need to have their lung or heart function supported by machines before, during, or after the surgery. Your chest will be opened between the ribs in the front across the breast bone or at the side. The diseased lungs will be removed and replaced with the donor lungs, one at a time. The new lung will be connected to the main bronchus, the pulmonary artery, and the pulmonary vein. After the lung is connected, the surgeons will leave drainage tubes around the lungs and heart and carefully close the layers of bone, muscle, and skin. </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.event-details__main -->
                </div>
                <!-- /.col-lg-8 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.event-details -->
    <!-- template scripts -->
    <script src="~/Content/template/assets/js/jquery.min.js"></script>
    <script src="~/Content/template/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/template/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/template/assets/js/bootstrap-select.min.js"></script>
    <script src="~/Content/template/assets/js/isotope.js"></script>
    <script src="~/Content/template/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.circleType.js"></script>
    <script src="~/Content/template/assets/js/waypoints.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.counterup.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.lettering.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/template/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/template/assets/js/TweenMax.min.js"></script>
    <script src="~/Content/template/assets/js/wow.min.js"></script>
    <script src="~/Content/template/assets/js/theme.js"></script>
    <script src="~/Content/template/assets/js/accordion.js"></script>
    <!--<script src="assets/js/mobile.js"></script>-->
    <script>new WOW().init();</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-772875026"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-772875026');
    </script>
    <script>
        gtag('event', 'page_view', {
            'send_to': 'AW-772875026',
            'user_id': 'replace with value'
        });
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HF6PKWGCCL"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-HF6PKWGCCL');</script>
    </body>
    </html>
