@{
    Layout = "~/Views/Shared/_Layout_Patient.cshtml";
}

<div class="page-wrapper">


<section class="page-header" style="background-image: url(../Content/template/assets/images/inner-page-banner/Organ-Donation.jpg);">
    <div class="container">
        <ul class="list-unstyled page-breadcrumb">
            <li><a href="index"><i class="fa fa-home"></i></a></li>
            <li>Specialities </li>
            <li><span> Transplant Services </span></li>
            <li><span> Organ Donation </span></li>
        </ul>
        <!-- /.list-unstyled -->
    </div>
    <!-- /.container -->
</section>
<!-- /.page-header -->

<section class="event-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="event-details__sidebar">
                    <div class="event-details__sidebar-single event-details__sidebar-dark-bg">
                        <h3>Contact <span class="dark-title">Info</span></h3>
                        <ul class="event-details__sidebar-list list-unstyled">
                            <li>
                                <i class="fa fa-check-circle"></i> <i class="far fa-phone"></i>
                                <h4>OPERATOR</h4>
                                <p><a href="tel:+91 79 6677 0000">+91 79 6677 0000</a></p>
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i> <i class="far fa-phone"></i>
                                <h4>EMERGENCY</h4>
                                <p><a href="tel:  +91 79 6677 0001"> +91 79 6677 0001</a></p>
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i> <i class="far fa-phone"></i>
                                <h4>AMBULANCE</h4>
                                <p><a href="tel:  +91 79 6677 0002"> +91 79 6677 0002</a></p>
                            </li>
                        </ul>
                        <!-- /.event-details__sidebar-list list-unstyled -->
                    </div>
                    <!-- /.event-details__sidebar-single -->
                </div>
                <!-- /.event-details__sidebar -->

            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-8">
                <div class="event-details__main">
                    <div class="block-title">
                        <h1> Transplant Services</h1>
                    </div>
                    <div class="transplant-services donation-one">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="donation-one__single">
                                    <div class="donation-one__image"> <img src="/Content/template/assets/images/lung-transplant.jpg" alt="" title="Organ Donation"> <a href="lung_transplant"><i class="fal fa-link"></i></a> </div>
                                    <div class="donation-one__content">
                                        <h3><a href="lung_transplant">Lung <br>Transplant</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="donation-one__single">
                                    <div class="donation-one__image"> <img src="/Content/template/assets/images/Organ-Donation.jpg" alt="" title="Organ Donation"> <a href="heart_transplant"><i class="fal fa-link"></i></a> </div>
                                    <div class="donation-one__content">
                                        <h3>
                                            <a href="heart-transplant">
                                                Heart <br>Transplant
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <div class="donation-one__single">
                                    <div class="donation-one__image"> <img src="/Content/template/assets/images/Renal-Transplant.jpg" alt="" title="Renal Transplant"> <a href="renal_transplantt"><i class="fal fa-link"></i></a> </div>
                                    <div class="donation-one__content">
                                        <h3>
                                            <a href="renal-transplant">
                                                Kidney <br>
                                                Transplant
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="donation-one__single">
                                    <div class="donation-one__image"> <img src="/Content/template/assets/images/Liver-Transplant.jpg" alt="" title="Liver Transplant"> <a href="liver_transplant"><i class="fal fa-link"></i></a> </div>
                                    <div class="donation-one__content">
                                        <h3>
                                            <a href="liver-transplant">
                                                Liver <br>
                                                Transplant
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3 col-md-6 mt-20">
                                <div class="donation-one__single">
                                    <div class="donation-one__image"> <img src="~/Content/template/assets/images/Cornea-Transplant.jpg" alt="" title="Cornea Transplant"> <a href="cornea_transplant"><i class="fal fa-link"></i></a> </div>
                                    <div class="donation-one__content">
                                        <h3>
                                            <a href="cornea-transplant">
                                                Cornea <br>
                                                Transplant
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <h4 class="transplant-services-title">Organ Donation </h4>
                    <p>
                        Organ donation is a noble act which gives an opportunity to save lives after death. An organ is a part of the body that performs a specific function like heart, lungs, kidney, liver, pancreas, etc. For many patients who suffer
                        from end stage disease of various organs, organ donation is the only hope. The donated organs are transplanted into these patients for therapeutic purposes.
                    </p>
                    <h4>Tissue Donation </h4>
                    <p>
                        Tissue is a group of cells that performs a particular function in the human body, for example cornea (eye), bones, skin, heart valves, blood vessels, nerves and tendon, etc. Transplantation of different type of tissues can
                        improve the quality of life of many recipients.
                    </p>
                    <h4>Different types of Organ Donation </h4>
                    <p class="mt-15"><strong>1. Living Organ Donation</strong> </p>
                    <p>
                        A person, not less than 18 years of age, during his life can voluntarily authorize the removal of organs for therapeutic purposes within the legal framework of the country. He/she can donate one kidney, a part of the liver,
                        and a portion of the pancreas.
                    </p>
                    <p>Types of living donations are: </p>
                    <ul class="blog-details__list list-unstyled">
                        <li><i class="fa fa-check-circle"></i>Near related donors </li>
                        <li><i class="fa fa-check-circle"></i> Other than near related donors </li>
                        <li><i class="fa fa-check-circle"></i> Swap donors </li>
                    </ul>
                    <p><strong>2. Deceased Organ Donation</strong></p>
                    <p>
                        A person, regardless of age can donate multiple organs/ tissues and give life to many patients after brain-stem/cardiac death. Consent of near relatives or a person in lawful possession of the dead body is required. If the
                        deceased donor is under the age of 18 years, then the consent is required from one of the parents. Medical suitability for donation is determined at the time of the unfortunate event of death.
                    </p>
                    <h4>Is it possible to receive organs from a friend or other than near relative? </h4>
                    <p>
                        As per Transplantation of Human Organ Act, any living person other than near relatives can also donate organs based on affection and attachment towards the recipient or for any other special reason. Such cases have to be approved
                        by the Authorization Committee of the Hospital where the transplant is going to take place. If such an Authorization Committee is not existing in the Hospital then it can be approved by the respective District or State
                        level Authorization Committee.
                    </p>
                    <h4>Transplantation </h4>
                    <p>Transplantation is the act of surgical removal of an organ from one person and placing it onto another person. It is needed when the recipient’s organ has failed or has been damaged due to illness/ end stage disease or injury.</p>
                    <h4> Services offered at KD Hospital: </h4>
                    <ul class="blog-details__list list-unstyled">
                        <a href="renal_transplantt">
                        <li><i class="fa fa-check-circle"></i>Kidney Transplant </li>
                        </a>
                        <a href="cornea-transplant">
                        <li><i class="fa fa-check-circle"></i> Corneal Transplant </li>
                        </a>
                        <a href="lung-transplant">
                        <li><i class="fa fa-check-circle"></i>Lung Transplant </li>
                        </a>
                        <a href="heart-transplant">
                        <li><i class="fa fa-check-circle"></i>Heart Transplant </li>
                        </a>
                        <a href="liver_transplant">
                        <li><i class="fa fa-check-circle"></i>Liver Transplant</li>
                        </a>


                    </ul>
                </div>
                <!-- /.event-details__main -->
            </div>
            <!-- /.col-lg-8 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.event-details -->
