
@{
    Layout = "~/Views/Shared/_Layout_Patient.cshtml";
}


<div class="page-wrapper">

<section class="page-header" style="background-image: url(../Content/template/assets/images/inner-page-banner/Renal-Transplant.jpg);">
    <div class="container">
        <ul class="list-unstyled page-breadcrumb">
            <li><a href="index"><i class="fa fa-home"></i></a></li>
            <li>Specialities </li>
            <li><span> Transplant Services </span></li>
            <li><span> Kidney Transplant </span></li>
        </ul>
        <!-- /.list-unstyled -->
    </div>
    <!-- /.container -->
</section>
<!-- /.page-header -->

<section class="event-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="event-details__sidebar">
                    <div class="event-details__sidebar-single event-details__sidebar-dark-bg">
                        <h3>Contact <span class="dark-title">Info</span></h3>
                        <ul class="event-details__sidebar-list list-unstyled">
                            <li>
                                <i class="fa fa-check-circle"></i> <i class="far fa-phone"></i>
                                <h4>OPERATOR</h4>
                                <p><a href="tel:+91 79 6677 0000">+91 79 6677 0000</a></p>
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i> <i class="far fa-phone"></i>
                                <h4>EMERGENCY</h4>
                                <p><a href="tel:  +91 79 6677 0001"> +91 79 6677 0001</a></p>
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i> <i class="far fa-phone"></i>
                                <h4>AMBULANCE</h4>
                                <p><a href="tel:  +91 79 6677 0002"> +91 79 6677 0002</a></p>
                            </li>
                        </ul>
                        <!-- /.event-details__sidebar-list list-unstyled -->
                    </div>
                    <!-- /.event-details__sidebar-single -->
                </div>
                <!-- /.event-details__sidebar -->

            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-8">
                <div class="event-details__main">
                    <div class="block-title">
                        <h1> Transplant Services</h1>
                    </div>
                    <div class="transplant-services donation-one">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="donation-one__single">
                                    <div class="donation-one__image"> <img src="~/Content/template/assets/images/lung-transplant.jpg" alt="" title="Organ Donation"> <a href="lung-transplant"><i class="fal fa-link"></i></a> </div>
                                    <div class="donation-one__content">
                                        <h3><a href="lung-transplant">Lung <br>Transplant</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="donation-one__single">
                                    <div class="donation-one__image"> <img src="~/Content/template/assets/images/Organ-Donation.jpg" alt="" title="Organ Donation"> <a href="heart-transplant"><i class="fal fa-link"></i></a> </div>
                                    <div class="donation-one__content">
                                        <h3>
                                            <a href="heart-transplant">
                                                Heart <br>Transplant
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <div class="donation-one__single">
                                    <div class="donation-one__image"> <img src="~/Content/template/assets/images/Renal-Transplant.jpg" alt="" title="Renal Transplant"> <a href="renal-transplant"><i class="fal fa-link"></i></a> </div>
                                    <div class="donation-one__content">
                                        <h3>
                                            <a href="renal-transplant">
                                                Kidney <br>
                                                Transplant
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="donation-one__single">
                                    <div class="donation-one__image"> <img src="~/Content/template/assets/images/Liver-Transplant.jpg" alt="" title="Liver Transplant"> <a href="liver_transplant"><i class="fal fa-link"></i></a> </div>
                                    <div class="donation-one__content">
                                        <h3>
                                            <a href="liver_transplant">
                                                Liver <br>
                                                Transplant
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3 col-md-6 mt-20">
                                <div class="donation-one__single">
                                    <div class="donation-one__image"> <img src="~/Content/template/assets/images/Cornea-Transplant.jpg" alt="" title="Cornea Transplant"> <a href="cornea-transplant"><i class="fal fa-link"></i></a> </div>
                                    <div class="donation-one__content">
                                        <h3>
                                            <a href="cornea-transplant">
                                                Cornea <br>
                                                Transplant
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <h4 class="transplant-services-title">Kidney Transplant </h4>
                    <p>A Kidney Transplant, also known as Renal Transplant, is a surgical procedure of placing a healthy kidney in a patient having the end-stage chronic condition of kidneys. Successful kidney transplant suggests the restoration of renal function back to normal and resolution of all the symptoms of kidney failure. </p>
                    <p>Individuals suffering from end-stage kidney disease or kidney failure benefit from this surgery, which would result in a healthier life. As we all know, kidneys are responsible for the removal of toxic products from the body. Many chronic systemic conditions may lead to poor functionality of the kidneys resulting in the accumulation of toxins in the blood that can prompt coma and even death. Treatment of any end-stage renal disease involves dialysis or a kidney transplant. </p>
                    <p>Dialysis aids in filtering the toxins out of the blood, hence, taking over the function of failed kidneys. One needs dialysis while he/she loses 85-90% of renal functionality and have a GFR of <15 Dialysis can be done in 2 ways: First is hemodialysis which uses an external artificial kidney-like machine (also known as a hemodialyzer) to purify and remove the toxins from the blood. The second is peritoneal dialysis which uses a surgically placed tube (catheter) inside the body to function as an artificial kidney. However, with any dialysis procedure, one will have to undergo dialysis at a certain interval for entire life unless the individual opts for a kidney transplant. </p>
                    <p>Kidney transplant surgery takes place in a patient with kidney failure - who receives a kidney from a living or deceased donor. Any individual requires only one kidney to live a healthy life, hence, one kidney is transplanted during the surgery. KD Hospital has an expert team of transplant surgeons, urologists, and nephrologists with vast experience in the field. </p>
                    <p>KD Hospital is an authorized centre for a kidney transplant that has successfully completed kidney transplants. With an expert transplant doctors' team and world-class surgical equipment at your service, the renal transplant has become more accessible in terms of ease of the process. Additionally, the renal transplant coordinator is available at KD Hospital for counselling the patient and family members related to the kidney transplant and how the entire process works. Best infection control practices in hands allow KD Hospital to become one of the best renal transplant centres in Ahmedabad. </p>
                    <p>A successful kidney transplant allows the individual with renal failure to live a longer, better and healthier life than with on dialysis. A kidney transplant gives an option to live an improved quality of life without a lifetime of dialysis, a more energetic approach towards life and lesser restrictions on diet. </p>
                </div>
                <!-- /.event-details__main -->
            </div>
            <!-- /.col-lg-8 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.event-details -->

