@{
    Layout = "~/Views/Shared/_Layout_Patient.cshtml";
}

<div class="page-wrapper">
   
        <!-- plugins styles -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+2:400,500,600,700,800%7CLato:100,300,400,700,900%7COpen+Sans:300,400,600,700,800%7CRoboto:300,400,500,700,900%7CRubik:300,400,500,700,900&amp;display=swap">
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/Content/template/assets/css/animate.css">
        <link rel="stylesheet" href="~/Content/template/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/template/assets/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="~/Content/template/assets/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="~/Content/template/assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="~/Content/template/assets/css/hover-min.css">
        <link rel="stylesheet" href="~/Content/template/assets/css/swiper.min.css">
        <link rel="stylesheet" href="~/Content/template/assets/css/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="~/Content/template/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="~/Content/template/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/Content/template/assets/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/Content/template/assets/css/icons.css">
        <link rel="stylesheet" href="~/Content/template/assets/css/testimonial.css">
        <link rel="stylesheet" href="~/Content/template/assets/css/style.css">
        <link rel="stylesheet" href="~/Content/template/assets/css/accordion.css">
        <link rel="stylesheet" href="~/Content/template/assets/css/responsive.css">
        <link rel="stylesheet" href="~/Content/template/assets/css/new-responsive.css">
        <!-- Google Tag Manager -->
      

<section class="page-header" style="background-image: url(../Content/template/assets/images/inner-page-banner/Second-Opinion.jpg);">
    <div class="container">

        <ul class="list-unstyled page-breadcrumb">
            <li><a href="index"><i class="fa fa-home"></i></a></li>
            <li>Specialities </li>
            <li><span> Second Opinion </span></li>
        </ul>
        <!-- /.list-unstyled -->
    </div>
    <!-- /.container -->
</section>
<!-- /.page-header -->

<section class="sec_pad sec-opinion-details">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="block-title text-center">
                    <h1>Second <span class="dark-title">Opinion</span></h1>
                </div>
            </div>
            <div class="col-xl-7 margin-auto">
                <div class="composer layout_fullwidth_padding">
                    <div class="tta-container" data-vc-action="collapseAll">
                        <div class="general tta tta-accordion tta-style-classic tta-o-shape-group tta-controls-align-left tta-o-all-clickable">
                            <div class="tta-panels-container">
                                <div class="tta-panels">
                                    <div class="tta-panel" id="a1" data-vc-content=".tta-panel-body">
                                        <div class="tta-panel-heading">
                                            <h4 class="tta-panel-title tta-controls-icon-position-right"><a href="#a1" data-vc-accordion="" data-vc-container=".tta-container"><span class="tta-title-text">What Is the Second Opinion Program? </span><i class="tta-controls-icon tta-controls-icon-plus"></i></a></h4>
                                        </div>
                                        <div class="tta-panel-body" style="">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p>
                                                        KD Hospital facilitates this program for patients requiring opinions, notion and advice on a diagnosis and treatment plan suggested and provided by medical personnel from other medical facilities.

                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tta-panel" id="a2" data-vc-content=".tta-panel-body">
                                        <div class="tta-panel-heading">
                                            <h4 class="tta-panel-title tta-controls-icon-position-right"><a href="#a2" data-vc-accordion="" data-vc-container=".tta-container"><span class="tta-title-text"> Who requires  a Second Opinion? </span><i class="tta-controls-icon tta-controls-icon-plus"></i></a></h4>
                                        </div>
                                        <div class="tta-panel-body" style="">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p>
                                                        Patients with a medical condition which may deem life-threatening or very complicated to them, can have a second opinion to make insightful decisions for their health. A Second Opinion may help
                                                        you get a better understanding of your current situation such as:

                                                    </p>

                                                    <ul class="blog-details__list list-unstyled">
                                                        <li><i class="fa fa-check-circle"></i> To understand the potential risk or side-effects of the treatment plan. </li>
                                                        <li><i class="fa fa-check-circle"></i> You are advised an experimental treatment to cure an uncertain or rare diagnosis</li>
                                                        <li><i class="fa fa-check-circle"></i> Conditions involving surgery with a new approach or a different course of treatment than the usual one.</li>
                                                        <li><i class="fa fa-check-circle"></i> Recurring symptoms despite receiving treatment. </li>
                                                        <li><i class="fa fa-check-circle"></i> When you feel uncomfortable with current medical personnel. </li>

                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tta-panel" id="a3" data-vc-content=".tta-panel-body">
                                        <div class="tta-panel-heading">
                                            <h4 class="tta-panel-title tta-controls-icon-position-right"><a href="#a3" data-vc-accordion="" data-vc-container=".tta-container"><span class="tta-title-text"> How does it work?  </span><i class="tta-controls-icon tta-controls-icon-plus"></i></a></h4>
                                        </div>
                                        <div class="tta-panel-body" style="">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p>
                                                        Receiving an appointment for the Second Opinion at KD Hospital is easy. Follow these simple steps:-

                                                    </p>

                                                    <ul class="blog-details__list list-unstyled">
                                                        <li><i class="fa fa-check-circle"></i> Fill up your contact details and mention relevant Department.</li>
                                                        <li><i class="fa fa-check-circle"></i> Upload your Medical Reports related to your condition (Mandatory)</li>
                                                        <li><i class="fa fa-check-circle"></i> Our team will reach out to you after receiving your Inquiry</li>
                                                        <li><i class="fa fa-check-circle"></i> Choose our Expert Doctor at KD for a Second Opinion </li>
                                                        <li><i class="fa fa-check-circle"></i> You'll be scheduled for a consultation from your choice of Doctor</li>


                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="appointment-one second_opinion_form_section">

    <img src="~/Content/template/assets/images/shapes/appointment-map-1-1.png" class="appointment-one__map-1" alt="Childcare Hospital" title="Appointment Map 1">
    <img src="~/Content/template/assets/images/shapes/appointment-map-1-2.png" class="appointment-one__map-2" alt="Childcare Hospital" title="Appointment Map 2">
    <img src="~/Content/template/assets/images/second_opinion.png" class="appointment-one__moc  wow fadeInUp" data-wow-duration="4500ms" alt="Childcare Hospital" title="Second Opinion">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <p>Request you to kindly fill all the required details.</p>

                <form class="Second_Opinion form contact-one__form sky-form " id="Second_Opinion" action="thankyou.php" method="post" autocomplete="off" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6"> <i class="fa fa-user icon-prepend"></i><input type="text" id="name" name="name" maxlength="255" placeholder="Name*"></div>
                        <div class="col-md-6"> <i class="fa fa-envelope icon-prepend"></i> <input type="text" id="email" name="email" maxlength="255" placeholder="Email ID*"></div>

                        <div class="col-md-6">
                            <i class="fa fa-mobile-alt icon-prepend"></i> <input type="text" name="contact_no" onkeypress="contact_num_valid(event)" id="contact_no" minlength="10" maxlength="15" placeholder="Contact No*">
                        </div>

                        <div class="col-md-6"><i class="fa fa-map-marker-alt icon-prepend"></i> <input type="text" id="city" name="City" maxlength="255" placeholder="City*"></div>

                        <div class="col-md-6">
                            <i class="fa fa-building icon-prepend"></i>
                            <select name="Medical Department" id="department" style="width: 100%">
                                <option value=""> -- Medical Department -- *</option>

                                <option>General Surgery</option>
                                <option>Gastrosurgery </option>
                                <option>Neurosurgery</option>
                                <option>Paediatric Surgery</option>
                                <option>Spine Surgery </option>
                                <option>Cardiac Surgery </option>
                                <option>Bariatric Surgery</option>
                                <option>Kidney Transplant</option>
                                <option>Gastro-Medicine</option>
                                <option>Orthopaedic and Joints</option>
                                <option>Neurology</option>
                                <option>Cardiology</option>
                                <option>High Risk Pregnancy</option>
                                <option>Gynaecology</option>
                                <option>IVF </option>
                                <option>Urology</option>
                                <option>Nephrology</option>
                            </select>
                        </div>

                        <div class="col-md-6"> <i class="fa fa-stethoscope icon-prepend"></i> <input type="text" id="doctor" name="doctor" maxlength="255" placeholder="Specifiy Doctor's name if any"></div>

                        <div class="col-md-12">
                            <div class="file-wrapper">

                                <input type="file" class="form-control" id="report" name="report">


                                <span class="file-button"> <span class="file-holder"></span> <i class="fa fa-upload"></i> Upload recent reports*</span>
                            </div>
                            <p id="medications" style="width: 100%"></p>
                        </div>

                        <div class="ambutton">
                            <button type="button" name="add_row" class="addmores">
                                <a title="Add More">Upload more report</a>
                            </button>
                            <button type="button" name="minus_row" class="minusmores">
                                <a title="Add More">-</a>
                            </button>
                        </div>
                        <div class="col-md-12 text-left">
                            <p id="error_data"></p>
                            <div class="input-group button-holder">

                                <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response">
                                <button class="thm-btn contact-one__btn" type="submit" name="Second_Opinion">Submit</button>
                                <input type="hidden" value="KD_Second_Opinion" name="type_of_form">
                                <i class="fa fa-sync" id="form_process"></i>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
