@charset "utf-8";
.rwd-table td,
.rwd-table th {
    border: 1px solid #22222224
}

.rwd-table th {
    display: none
}

.rwd-table td {
    display: block
}

.rwd-table td:last-child {
    padding-bottom: .5em
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: 700;
    width: 80%;
    display: inline-block
}

.book-list .rwd-table td:before {
    position: absolute;
    left: 40px
}

@media (min-width:768px) {
    .rwd-table td:before {
        display: none
    }
}

.rwd-table td,
.rwd-table th {
    text-align: left
}

@media (min-width:768px) {
    .rwd-table td,
    .rwd-table th {
        display: table-cell;
        vertical-align: middle
    }
    .rwd-table td:first-child,
    .rwd-table th:first-child {
        padding-left: 0
    }
    .rwd-table td:last-child,
    .rwd-table th:last-child {
        padding-right: 0
    }
}

.rwd-table {
    color: #414141;
    overflow: hidden;
    width: 100%;
    border: 1px solid #22222224;
    font-weight: 400
}

@media (min-width:768px) {
    .rwd-table td,
    .rwd-table th {
        padding: 6px !important;
        text-align: left;
        font-size: 15px
    }
}

@media (max-width:767px) {
    .rwd-table td,
    .rwd-table th {
        margin-bottom: 0;
        text-align: left !important;
        padding: 5px
    }
    .rwd-table td:first-child {
        background: #d12023;
        color: #fff
    }
    .table tr:nth-child(odd) {
        background: rgb(0, 0, 0, 0)
    }
    .rwd-table td,
    .rwd-table th {
        border: 1px solid rgba(0, 0, 0, .2)
    }
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 0
}

.red-box {
    background: red
}

.red-box strong {
    color: #fff
}

.blue-box strong {
    color: #fff
}

.yellow-box strong {
    color: #fff
}

.gray-box strong {
    color: #fff
}

.blue-box {
    background: #0070c0
}

.yellow-box {
    background: #ffc000
}

.gray-box {
    background: #d0cece
}