.cd-faq-categories {
    top: 0;
    left: 0;
    width: 370px;
    z-index: 2;
    padding-left: 0
}

.cd-faq-categories.is-fixed {
    position: fixed
}

body .event-details__sidebar-dark-bg:after {
    width: 90%
}