@model Patient_Management_System.ViewModel.DepartmentVM
@{
    ViewBag.Title = "Add Department";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@using (Html.BeginForm("Add_Department", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/css/bootstrap-datetimepicker.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">

        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Add Department</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="row">


                <!-- Dept Name -->
                <div class="col-sm-9">
                    <div class="form-group">
                        <label>Department Name</label>
                        @Html.EditorFor(model => model.Dept_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Dept_Name, "", new { @class = "text-danger" })

                    </div>
                </div>

                <!-- Submit Button -->
                <div class="m-t-20 text-center">
                    <button class="btn btn-primary submit-btn" style="margin-left:180px;">Add Department</button>
                </div>

            </div>
        </div>
    </div>
}

