@model Patient_Management_System.Models.PaymentTbl
@{
    ViewBag.Title = "Delete_Payment";

}



<form method="post" action="@Url.Action("Delete_Payment", "Admin")">
    <input type="hidden" name="PaymentId" value="@Model.Payment_ID" />
    <a href="@Url.Action("List_Payment", "Admin")">Cancel</a>
</form>