@model  Patient_Management_System.ViewModel.AppointmentVM

@{
    ViewBag.Title = "Delete Appointment";


}



<form method="post" action="@Url.Action("Delete_Appointment", "Admin")">
    <input type="hidden" name="aptId" value="@Model.Appointment_ID" />
    <a href="@Url.Action("List_Appointment", "Admin")">Cancel</a>
</form>
